[2018-01-19 14:35] jcwinkler opened #1 "Font size mismatch between Inkscape and TexText generated nodes"
If the font in a LaTeX snippet is set explicitely to a certain size (e.g. 10pt) the text of the generated svg node has a much larger font size if the scale factor is 1.0. Expected behavior is that the font size is equal to the font size of text directly set in Inkscape.

![Illustration](https://bitbucket.org/pitgarbe/textext/issues/attachments/55/pitgarbe/textext/1514267381.21/55/captured.png)

Or

[2018-01-19 14:42] jcwinkler opened #2 "Migration to pdf2svg"
TexText uses pstoedit for the conversion of the LaTeX generated pdf snippet to a svg node. Pstoedit itself depends on calls to ghostscript. Unfortunately, a certain option has been marked deprecated in ghostscript > 9.20 which is used by pstoedit. Hence, generation of the pdf snippet fails.

As an alternative we have decided to give the possibility to use another converter: pdf2svg. Work is curren

[2018-01-19 14:51] jcwinkler opened #3 "Provide XeTeX and LuaTeX support"
XeTeX and LuaTeX become more and more prominent, especially due to their native UTF-8 support. It would be nice if TexText supports snippets for these compilers.

[2018-01-19 17:35] leberwurstsaft opened #4 "Repository spelling error"
It's a common spelling error, and it'd be unfortunate if we leave it in the repository name.

It should be *textext* instead of *texttext*.

[2018-01-19 17:36] leberwurstsaft commented on #4
See https://help.github.com/articles/renaming-a-repository/ for a guide on how to rename the repo. It should be a quick fix.

[2018-01-19 19:15] jcwinkler commented on #4
Indeed, my most favorite typo... Fixed it.

[2018-01-19 19:15] #4 closed

[2018-01-21 23:29] leberwurstsaft commented on #4
👍

[2018-02-05 08:48] jcwinkler commented on #1
I would like to give some detailed information about the hotfix for the font scale problem.

LaTeX-Snippet used in the following:
[code]
**Hotfix, part 1: Ensure that new nodes are correctly scaled:**
This part of the fix ensures that the the node coming from pstoedit (the coordinates of which are always meant as pt) is scaled in such a way that its size is correct even if the user units of the do

[2018-02-05 13:11] #1 closed

[2018-02-06 05:17] jcwinkler opened #8 "Move PyGTK_for_Inkscape?"
The PyGTK for Inkscape package which is included in this project is just for building packages for Windows users only. In fact, it is not a part of TexText. It is just needed to make TexText run for Windows user without an own Python installation.

You can see this "inconsistancy" in the different versioning: TexText versions increase, PyGTK for Inkscape not necessarily.

I suggest to move it as s

[2018-02-06 05:19] jcwinkler opened #9 "Documentation needs update"
The readme pdf shipped with TexText (from the doc dir) includes all the installation stuff. But when the user opens it, the extension is already installed. It is better to focus on the usage of the extension.

[2018-02-06 13:58] leberwurstsaft commented on #8
Yes, it should go into a separate repository. It's definitely nice that we can put multiple related things into separate places but keep them under the umbrella of the textext org.

[2018-03-21 09:59] BorisMonth opened #10 "Error occurred while converting text from LaTeX to SVG"
I have installed
Inkscape 0.92.1 r15371
ghostscript 9.06
pstoedit 3.62

When type something in the textext gui and click "preview" I get a preview as expected. When I click "save" a window with the heading "Error occurred while converting text from LaTeX to SVG:" opens, containing the following message:
`u'{http://www.inkscape.org/namespaces/inkscape}version'
Traceback (most recent call last):
  F

[2018-03-21 10:27] jcwinkler commented on #10
I confirm this error. Strange. Will investigate this evening. Please stay tuned!

[2018-03-25 16:37] toktan commented on #10
I wished to install TeXtext with inkscape and texlive.  I installed the followings in order using installers with default setting.  1)	Inkscape 0.92.2.exe (Python 2.7 interpreter checked) 2)	TexText-Windows-0.7.1.exe
3)Install-PyGTK-2.24-Inkscape-0.92.2-64bit.exe 4)pstoeditsetup_x64.exe(.h,.lib, as well as plugins SVG,…checked) 5)ImageMagick-6.9.9-39-Q16-x64-static.exe(ImageMagick-6.9.7-x-Q16-x64-

[2018-03-27 11:07] oedfors commented on #10
I have the same issue, but only on one of my two computers/systems. Both have the same setup (as far as I know), but there is obviously some difference between them ... both running Antergos Linux and textext works just fine on one of them. Is there anything I can do to help out with the debugging (maybe compare something between my two systems)?

[2018-03-27 12:13] sizmailov commented on #10
It seems that error occurs only for new documents, specifically script fails to extract inkscape version out of non-existing file:

https://github.com/textext/textext/blob/4b4de508bb564d4b44138fafb14f36a25da5fdd6/textext.py#L336-L337

I'm not sure what is the real purpose of storing inkscape version, but commenting those two lines out fixes problem for me.

An obvious workaround is to save documen

[2018-03-27 12:28] sizmailov opened #11 "Object scale is not preserved after editing"
Steps to reproduce:
1) Create formula "$\sin(x)$" with textext
2) Scale the resulting object to fit your layout
3) Change original formula, say "$\sin(x)+1$"

Desired behavior: object scale same as at step 2
Actual behavior: object scale is reset

[2018-03-27 12:59] jcwinkler commented on #10
@sizmailov is right, the problem is the version attribute that TexText stores into its freshly created node. The reason for doing so is that we want to know with which version of Inkscape the node has been created with. History has been shown that it helps when processing nodes which have been created in older versions of Inkscape, e.g. if something has been changed in Inkscape.

Now, the problem

[2018-03-27 13:11] jcwinkler commented on #11
This is a misunderstanding of what the term "scale factor" means in TexText. "Scale" means that the length unit coming from the latex-svg node is scaled by the specified factor.

So if you change the length or hight of the content -- as in the exmample -- then the size of the node will change, too, and the node is roughly placed in the middle of the olde one. Please see the attached figure. In all

[2018-03-27 14:03] jcwinkler commented on #10
I provided a fix in the master branch of my [fork ](https://github.com/jcwinkler/textext) of the project. You need to replace your `textext.py` by the one from the branch (make a backup copy first!). Seems to work at a first glance here, but needs more thorough testing, of course. Will provide a pull-request as far as testing is finished.

[2018-03-27 14:24] sizmailov commented on #11
Let me be more clear about this issue. I'm perfectly fine with change of object width along with length of formula, it's not an issue.

In the attached image I have three sets of figures and formulae, row by row: original formula, by-hand-scaled formula, edited-by-hand-scaled formula. My concern is edited-by-hand-scaled was reverted to original size and my hand-tuned scale is lost.

![1](https://u

[2018-03-27 17:14] toktan commented on #10
Jan,  indeed I was just trying at a new blank file.
As sizmailov points, there occurs no error when editing an old SVG file by
Inkscape.
I now understand why Pit questioned to Boris if the file is new or old.
Your texttext.py (with #10 correction) works fine!!  Thank you for your
Great help.
Tokutan

2018-03-27 23:03 GMT+09:00 Jan Winkler <notifications@github.com>:

[2018-03-28 06:53] jcwinkler commented on #11
This behaviour is intended. Although I understand that in your scenario this might by annoying.

Let me explain: When @leberwurstsaft implemented the scale factor feature some time ago we wanted to have the possibility to scale the svg-node resulting from pdflatex+pstoedit in such a way that it fits to the geometry of the other objects (boxes, lines, etc.) in the Inkscape drawing. On the other han

[2018-03-28 10:44] sizmailov commented on #11
I see you point to have this typographic-based approach.

The convenient thing to do is to update `scale` in pop-up window if object was scaled.

I.e if I created `$\sin(x)$` with scale factor `1.5`, then manually scaled it to fit my poster, say, by factor `5.3`, then the resulting scale is `1.5*5.3=7.95` and should appear in "Scale factor" input upon editing. It also should be possible to paste a

[2018-03-28 11:43] jcwinkler commented on #11
Certainly, this would be a nice feature and we can define it as an enhancemant request for milestone x.y, I am totally OK with that.

Non uniformly scaled nodes do not disappear. They are flying "somewhere". Try it by creating one node in a blank document, scale it non-uniformly, re-edit it in TexText and then, after it seems to be disappeared, press 4. (The reason for this is our handling of the

[2018-03-28 11:49] sizmailov opened #13 "Stretched object disappears after editing"
If object was stretched, it disappears from document after editing.

Steps to reproduce:
1) Create regular object with textext
![1](https://user-images.githubusercontent.com/2975991/38026426-b73e9de8-3294-11e8-854b-67f7f4da7b77.png)

2) Stretch object in x or y direction
![2](https://user-images.githubusercontent.com/2975991/38026438-bd2a7efc-3294-11e8-97b9-1c41689b4e28.png)

3) Make an arbitrary

[2018-03-28 12:01] sizmailov commented on #13
I confirm, the object flew away, just as @jcwinkler said https://github.com/textext/textext/issues/11#issuecomment-376857091

[2018-03-29 13:55] #10 closed

[2018-04-06 16:08] jcwinkler commented on #9
Especially, the scale and anchor feature should be explained in detail.

[2018-04-06 16:26] jcwinkler opened #15 "Recompiling of nodes created with TexText < 0.5 fails"
When editing nodes created with TexText < 0.5 the following error is thrown:

[code]

Reason: These nodes do not have the scale attribute. Hence, the following code fails, since `current_scale` is `None` (returned by `TexText.get_old()`):

[code]

Possible fix: Let `TexText.get_old()` return 1.0 instead of None for the default scale factor.

[2018-04-07 07:23] jcwinkler opened #16 "Suggestions for GUI improvements"
(Originally posted by @sizmailov in pull request #14):

1. Don't show or disable "Reset" button for newly created nodes, since it does nothing except generating non-sense error messages when Ok button gets pressed (at least in GTK)
 2. Also "Global" label is misleading, since it actually sets scale to last used. Not sure how to name such action, "Set as previous" sounds right, but it's a bit wordy

[2018-04-07 07:36] jcwinkler opened #17 "Error messages from preview reappear after compilation"
(Originally posted by @sizmailov in pull request #14 but not related specifically to this pull request)

When LaTeX error messages occur during writing code and checking it using the preview feature they reappear when the code has been finally and successfully compiled.

This is due to the way the error handling queue is processed inTexText.

[2018-04-07 07:49] #13 closed

[2018-04-07 07:49] #11 closed

[2018-04-09 15:35] cossio opened #18 "ImportError: No module named pygtk"
I get this error.

ImportError: No module named pygtk

However, I can import pygtk from the python interpreter.

[2018-04-09 16:34] jcwinkler commented on #18
Please provide some information about the operating system and the Inkscape version. Thanks!

Am 9. April 2018 17:35:51 MESZ schrieb Jorge Fernandez-de-Cossio-Diaz <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-04-09 16:36] cossio commented on #18
Inkscape 0.92.
Linux Mint 18

[2018-04-09 17:30] jcwinkler commented on #18
Hm, the ImportError should be caught. I do not understand this error at all

Just to be sure:

1. Please provide the full error back trace.

2. Did you use the TexText zip or tgz install package?

3. Did you check the pygtk import in a python2 or python3 interpreter?

[2018-04-09 18:01] cossio commented on #18
@jcwinkler This is the actual error I get. I was tinkering with the .py source file and that was why the exception was not caught.

I checked import pygtk in python2.

Traceback (most recent call last):
  File "textext.py", line 90, in <module>
    from asktext import AskerFactory
  File "/home/cossio/.var/app/org.inkscape.Inkscape/config/inkscape/extensions/asktext.py", line 60, in <module>
    r

[2018-04-25 09:33] Pierre-Andre opened #19 "Missing width and height attributes in svg document lead to crash"
- When using TeXtext on an empty document with $\beta_1$ TeX text it works (obviously).
- But when I use texText on a more complicated svg (created whith R and svglite device) the same textext object throw the following error:
[code]
I do suspect a problem with getting the size of the page (and may be a default/fallback width can be useful ?)

[2018-04-25 11:31] leberwurstsaft commented on #19
Good point. Width and height are not required values and are implicitly assumed to be "100%" when missing. Question is, what would 100% refer to when it is the rood node?

The recommended way to specify dimensions according to some article I read is to define a viewBox anyway. So we could also look at the viewBox, either as a fallback or as the primary way to retrieve the doc's dimensions. It look

[2018-04-25 16:15] raegnar commented on #9
Instructions for OSX would be greatly appreciated as well.  Is there any good way to debug what is going wrong?  Something more useful than Tex Text menu not displaying.

[2018-04-25 18:41] jcwinkler commented on #9
Two of my MAC-students are currently preparing a reliable installation procedure for OSX (pstoedit and pdf2svg). Will be available soon.

[2018-05-02 15:46] Pierre-Andre commented on #19
The svg is not created by inkscape and it does not provide height and width. It does provide a viewBox (in pixels, even it is not explicitely written in svg files, inkscape understand it as pixels):

[code]

[2018-05-08 07:43] laods commented on #18
I have the same problem as @cossio (exact same output)

Inkscape 0.92.03
Ubuntu 18.04
tgz install package

I was able to import pygtk in python2.

Remark that I had to add
sys.path.append('/snap/inkscape/4019/share/inkscape/extensions')
to textext.py in order for it to find inkex

[2018-05-08 10:15] jcwinkler commented on #18
Hmm, the question is if Inkscape really calls the interpreter you used for testing the pygtk import. Currently, I am testing on kubuntu 17.10 and doe not observe any issues. I will check it on a fresh 18.04 install.

[2018-05-08 10:19] jcwinkler opened #21 "Improved color management"
Currently the colors defined in the LaTeX code are used for displaying the node in Inkscape.

Some users like to assign the colors in Inkscape. When the node is recompiled this color assignment is lost.

For the user it would be nice to have the possibility to decide if the color defined in Inkscape is preserved after recompiling or if the colors from the TeX code is used.

[2018-05-08 13:28] jcwinkler commented on #16
![grafik](https://user-images.githubusercontent.com/11866252/39759364-c3e37948-52d2-11e8-8eb1-5ee8352a981a.png)

Changes
- Scaling and Alignment in two different boxes
- Selection of TeX converter

What remains open:
- Naming of "Reset" and "Global":
   - `Reset` actually means "Reset to value used for creating this node"
   - `Global` actually means "Use scale factor of previously edited node"

[2018-05-08 13:45] jcwinkler commented on #2
Current status of development can be found at branch [feature/pdf2svg_support](https://github.com/jcwinkler/textext/tree/feature/pdf2svg_support) at my fork until pull-request #20 goes into this repo. Requires that pdf2svg is in your path. Tk interface not working 100%.

[2018-05-08 21:30] jcwinkler commented on #3
The current development of this feature can be tracked in the branch [feature/xetex_luatex_support](https://github.com/jcwinkler/textext/tree/feature/xetex_luatex_support). It will be merged back as far as it is production ready to use.

[2018-05-08 22:34] sizmailov commented on #16
What are actual use cases for `Global` button?

I can imaging two potential scenarios:
1) Create several nodes in a row with a given scale factor
    Now scale factor gets initialized with previous value, so what button `Global` actually does is *resets* value to original. Let's remove `Global` button for fresh nodes and let `Reset` button do reset.
2) Adjust scale of current node to match previou

[2018-05-08 22:39] sizmailov commented on #2
Is `pstoedit` still supported as a backup converter or it completely deprecated?

[2018-05-09 06:54] sizmailov commented on #21
Is it supposed to handle one color per textext object or its should handle colored elements too?

Say I want to highlight sine argument `x`. What should I get after replacement `x` by `x+1`? What should be colored `x` or `x+1`?
![image](https://user-images.githubusercontent.com/2975991/39799696-d5f4652a-536d-11e8-9638-f602bcf9f28e.png)

I wonder how it might be implemented in general and reliable

[2018-05-09 06:57] sizmailov commented on #2
Right now plugin requires `pdf2svg` and does not fallback to `pstoedit` if `pdf2svg` is not found.

[2018-05-09 07:28] jcwinkler commented on #2
This is correct, as stated in pull request #20:

[2018-05-09 07:38] sizmailov commented on #2
Indeed, I'm sorry, overlook that.

[2018-05-09 07:51] jcwinkler commented on #21
What I am more worried about is the following behavior in pdf2svg nodes: After assigning the fill color to a node one may obtain the following:
![grafik](https://user-images.githubusercontent.com/11866252/39801594-02b2525e-536c-11e8-8f57-43a082da6555.png)

To get the root completely colored one needs to also set the stroke color as in pstoedit), but this leads to:

![grafik](https://user-images.gi

[2018-05-09 07:55] jcwinkler commented on #21
(It would be easy to do this in the `svg_to_group` method of `Pdf2SvgPlotSvg` class.)

[2018-05-09 08:04] jcwinkler commented on #16
"As previous" is a very good suggestion! Thanks!

[2018-05-09 08:52] sizmailov commented on #21
`stroke-width:0;` is a valid statement according to

https://www.w3.org/TR/fill-stroke-3/#stroke-width

[2018-05-09 10:16] jcwinkler commented on #21
OK. I was just confused about the combination `stroke:none` and `stroke-width:0` wrongly assuming `stroke:none` means no stroke is painted. But `none` refers to the color, of course. Forgot that.

So I will implement it in the `svg_to_group` method.

[2018-05-09 13:35] jcwinkler commented on #21
GUI for creating new nodes:
![grafik](https://user-images.githubusercontent.com/11866252/39817314-1b1b4d46-539e-11e8-9c47-1b69300eb814.png)

GUI for editing nodes:
![grafik](https://user-images.githubusercontent.com/11866252/39817375-472dd76e-539e-11e8-80c6-b7f4e8c98be1.png)

Alternative: Let the color checkbox always be sensitive. When creating new nodes this should mean that the output is black

[2018-05-09 15:26] jcwinkler commented on #16
Yes, good idea!

[2018-05-09 15:37] jcwinkler commented on #21
Introduced via commit 348305c

[2018-05-09 15:42] jcwinkler commented on #21
:+1:

[2018-05-09 20:03] sizmailov commented on #21
"Keep Inkscape color" should be enabled and checked if and only if user changed current node color in inkscape. Otherwise this option is meaningless.

[2018-05-10 06:39] jcwinkler commented on #21
Alternative idea, without the need of any additional GUI element:

1. When a new TexText object is created the colorization coming from the TeX code/ SVG converter is used. This is obvious, of course.
2. When an existing TexText object is re-edited the following decision is done automatically:
   - If the TeX code contains color commands, any colorization done in Inkscape is ignored when placing t

[2018-05-10 07:52] sizmailov commented on #21
Good idea. I find it very convenient.
I would not rely on parsing user input either. Inspecting resulting svg is straightforward and reliable.

[2018-05-10 19:25] leberwurstsaft commented on #21
Definitely only look in the resulting SVG. One can never be sure to catch all the ways a LaTeX-document adds color.
I wonder why pdf2svg and pstoedit generate such different SVG results, though.

[2018-05-11 16:30] leberwurstsaft commented on #3
Was the TK interface done in the merged pull request?  The description initially said, it wasn't.
In case it is still not done, we should leave this open. Or close this, but add another issue specific to that missing part.

[2018-05-11 16:40] jcwinkler commented on #3
At this moment, I am working on the TK implementation for xetex/luatex and anchor alignment.

[2018-05-11 16:47] raegnar commented on #9
Any update on mac documentation?  In particular where to get a pre 9.20 version of Ghostcript?

[2018-05-13 02:48] feima0011 opened #23 "When I open textext, the following error is reported. Is it because of variable type ?"
Traceback (most recent call last):
  File "textext.py", line 1086, in <module>
    effect.affect()
  File "/usr/share/inkscape/extensions/inkex.py", line 283, in affect
    self.effect()
  File "textext.py", line 205, in effect
    current_scale *= self.uutounit(1, "pt")
TypeError: unsupported operand type(s) for *=: 'NoneType' and 'float'

[2018-05-13 07:57] jcwinkler commented on #23
This seems to be a duplicate of issue #15. It is already fixed in the release/0.8 branch. For a quick solution I recommend to open your textext.py and changes the one line according to commit c55d578. (The part of the code can be found in the function `def get_old(self):`).

Does this fix your problem?

[2018-05-13 14:10] jcwinkler commented on #23
I cherry-picked commit c55d578 into the [releases/0.7 branch](https://github.com/textext/textext/tree/releases/0.7).

Download link for fixed textext.py to replace installed file from version 0.7.2: [textext.py](https://github.com/textext/textext/blob/releases/0.7/textext.py)

[2018-05-13 14:11] jcwinkler commented on #15
**Hotfix for TexText 0.7.2**

Download link for fixed textext.py to replace installed file from version 0.7.2: [textext.py](https://github.com/textext/textext/blob/releases/0.7/textext.py)

[2018-05-13 21:53] jcwinkler opened #25 "Disable alignment controls when creating a new node (Tk and GTK)"
Relates to the release of 0.8: Alignment controls do not make sense when a new node is created. Hence, disable them in such cases.

[2018-05-14 09:42] leberwurstsaft commented on #25
I agree on hiding them, but I also want to voice my concern regarding "muscle memory". The arrangement of the remaining buttons should not change. There must be empty space where the button was, instead of simply putting the remaining buttons closer together or making them wider.

[2018-05-15 13:35] jcwinkler commented on #19
OK, coming back to this issue.

Instead of
[code]
we could just write
[code]

`inkex.getDocumentHeight()` falls internally back to to viewbox of no width and height attributes are found. If even no viewbox attribute is found 0 is returned. But then we would be lost, anyway, I guess.

[2018-05-15 13:42] jcwinkler commented on #19
( inkex does not provide getDocumentWidth() in Inkscape 0.48.x ). If we want to keep compatibility with this version...

[2018-05-15 13:54] sizmailov commented on #19
If I recall it right width/height only affect where fresh node would appear. It's reasonable to try place it at center of document or as a fallback at left top corner.

The pythonic way to handle it would be:

[code]

[2018-05-15 15:02] sizmailov commented on #19
In case of fallback we can also inform user that new node is going to be created at (0,0) in the bottom of TexText window.

[2018-05-15 21:37] jcwinkler commented on #19
isn't this already done in getDocumentWidth ?

Final fallback for placement (0,0) is a good idea!

[2018-05-16 20:38] jcwinkler commented on #23
Fixed in release 0.7.3.

[2018-05-16 20:38] #23 closed

[2018-05-16 20:38] jcwinkler commented on #21
Fixed in release 0.8.

[2018-05-16 20:38] #21 closed

[2018-05-16 20:39] jcwinkler commented on #19
Fixed in release 0.7.3

[2018-05-16 20:39] #19 closed

[2018-05-16 20:39] jcwinkler commented on #15
Fixed in release 0.7.3

[2018-05-16 20:40] #15 closed

[2018-05-16 20:41] jcwinkler commented on #3
Provided as of release 0.8. (Why did automatic close did not work? :angry: )

[2018-05-16 20:41] #3 closed

[2018-05-16 20:41] jcwinkler commented on #2
Provided in release 0.8.

[2018-05-16 20:41] #2 closed

[2018-05-16 20:44] jcwinkler commented on #25
In release 0.8 they are disabled. Seemed to be complicated to hide them while keeping the space. But if someone has a solution which does not blow up the code feel free to add it.

[2018-05-16 20:44] #25 closed

[2018-05-16 21:05] jcwinkler commented on #9
Did you try http://pages.uoregon.edu/koch/ ?

[2018-05-16 21:11] sizmailov opened #28 "Improve installation script (setup.py)"
In release pack there is `./extension` directory while it's absent git repository.

Right now `setup.py` copies all files from current directory to inkscape extension directory.
It used to copy all from `./extension` folder before #14 (I "fixed" that, since I was not aware of release distribution structure).

This should be fixed, so script would work for both dev and release distributions.

[2018-05-16 21:40] leberwurstsaft commented on #3
@jcwinkler You can automatically close issues with commit messages like this: https://help.github.com/articles/closing-issues-using-keywords/

Or with pull request descriptions like this: https://blog.github.com/2013-05-14-closing-issues-via-pull-requests/

[2018-05-16 21:41] jcwinkler commented on #28
Thanks! I exchanged the linux package for 0.8 as well.

(Reworded commit message to be precise)

Best would be to clean up this chaotic directory structure and file mixture, anyway. So that extension files are in directory `extension`, package building script in `tools`, etc. or sth. like this. But this is another discussion.

[2018-05-16 21:48] jcwinkler commented on #3
I thought I did so, but I consequently wrote e.g. `resolves issue #3` (as in this case) instead of `resolves #3` as I am aware now after reading the links you provided :sob:

[2018-05-17 09:29] jcwinkler commented on #18
@laods, @cossio: I cannot reproduce the problem on Kubuntu 18.04 + Inkscape 0.92.3.

What's the out put of `ll /usr/bin/python*` on your system?

[2018-05-17 12:48] roblem opened #29 "Inkscape sometimes segfaults when editing existing textext equations"
Steps to reproduce:
1. Open an existing document with an existing latex textext equation (note this document isn't old, it was created using software versions below)
2. Select equation and goto textext in menubar to open equation as latex in textext dialog box
3. Inkscape segfaults approximately 50% of the time after editing the equation and clicking save
Sometimes a dialog opens and says somethin

[2018-05-17 15:26] jcwinkler opened #30 "pstoedit break needs investigation"
It seems that in new version 3.71of pstoedit the DELAYBIND issue seems to be fixed.

* Description of original issue: https://bitbucket.org/pitgarbe/textext/issues/48/ghostscript-still-bug-under-linux
* Fixed version for Windows maybe available: http://www.calvina.de/pstoedit/changelog.htm
* Fixed version on Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=880650
* On Fedora pstoedit 3.70

[2018-05-17 19:37] roblem commented on #29
One more thing I should have mentioned.  This only occurs trying to edit nodes across sessions.  So I work on a document, save and exit, and when I come back to it and try to edit an existing node inkscape crashes. Nodes created and edited within a session are never problematic.

Only editing existing nodes

Inkscape 0.92.3 (2405546, 2018-03-11)

I haven't been able to make a document only contain

[2018-05-17 20:53] jcwinkler commented on #30
Windows: gs 9.23 + pstoedit 3.71: :ok:

[2018-05-21 17:48] raegnar commented on #9
Thanks, I ended up building Ghostscript from source, but it didn't solve my issue.  Is there a good guide to debugging Inkscape extensions?  I'm having trouble even figuring out what is failing.

[2018-05-22 07:30] leberwurstsaft commented on #9
That was a major nuisance in developing this extension. I couldn't find anything more usable than what we have now. Which is to collect log messages with some sort of log level and dump it all in the text box that is shown when an extension is done.

If someone finds out how to actually debug a running extension, that would be golden!

[2018-05-22 21:30] jcwinkler commented on #9
I added a WIKI to this repo and heavily shortened the Readme.

Please **do not hesitate** to modify and improve the Readme and the Wiki, remove typos, Germanisms, etc...

Thanks!

[2018-05-22 21:31] jcwinkler commented on #9
I will open a separate issue for the MAC.

[2018-05-22 21:43] jcwinkler opened #31 "TexText on MAC OS"
This issue relates to the installation of TexText on MAC OS as this seems not to be as straight forward has it has been in the past. Especially the [ghostscript/pstoedit issue](https://bitbucket.org/pitgarbe/textext/issues/48/ghostscript-still-bug-under-linux) seems to be problematic.

From github issue #9:

Relating to the neweset development in pstoedit and ghostscript: Please try to install

-

[2018-05-23 15:11] mpritzkoleit commented on #31
installation on macOS High Sierra, which worked for me:

1) install inkscape 0.91

2) copy files to your user path
    - with command+shift+. make .config in your user directory visible
    - copy the content (textext.py, asktext.py, etc.) of the textext folder you downloaded into
       /Users/YourUserName/.config/inkscape/extensions

3) install pstoedit, ghostscript and imagemagick
    - install

[2018-05-26 09:59] #9 closed

[2018-05-26 11:09] #16 closed

[2018-05-29 11:39] BeastyBlacksmith commented on #31
What files to which path exactly? Thats a little vague.
The inkscape files from `/Applications/Inkscape.app/` ?

[2018-05-29 11:47] mpritzkoleit commented on #31
as described in 2) you copy the content of the textext-master repo (textext.py, asktext.py, default_packages.tex, latexlogparser.py, etc.) to  /Users/YourUserName/.config/inkscape/extensions.

[2018-05-30 17:09] bdhammel commented on #31
To get it working on osx I also had to remove this line https://github.com/textext/textext/blob/master/textext.inx#L9

[2018-05-30 18:02] unamunoe opened #33 "List index out of range when using a different font"
I have been using Tex Text for some months and recently I have started getting the following error message:

![image](https://user-images.githubusercontent.com/10604465/40738065-ce502f3a-6442-11e8-9de3-9ba4d6eee8ff.png)

I have noticed that it is caused by the modification of the font type in the preamble:
 `\usepackage[bitstream-charter]{mathdesign}`

This is happening to me when I try for instan

[2018-05-31 07:25] yuxinopt opened #34 "error encountered with textext 0.7.3 and 0.8 using TeXLive 2018"
Upon Preview I received error:
[Error 145] : 'c:\\users\\admini~1\\appdata\\local\\temp\\tmp9etrww'

Upon Save I received error:

[Error 145] : 'c:\\users\\admini~1\\appdata\\local\\temp\\tmphc_sfz'
Traceback (most recent call last):
  File "asktext.py", line 583, in cb_ok
    self._texcmd_cbox.get_active_text().lower())
  File "textext.py", line 286, in callback
    tex_cmd, original_scale=curren

[2018-05-31 09:57] jcwinkler commented on #33
The error message indicates that you use a TexText version prior to 0.8 where the bounding box is manually calculated. Please try version 0.8 where the calculation is done more reliably using methods shipped by Inkscape. Does this fix your problem? (You only need to re-install textext, not the other packages like PyGTK, etc.)

[2018-05-31 10:20] jcwinkler commented on #34
The deletion of the temporary directory used for compilation of the TeX code fails.

It would be great if you could help us by performing the following test:

1. Open the file `textext.py` (it should be in the directory `c:\Users\admini1~1\AppData\Roaming\inkscape\extensions` in your case)

2. Navigate to the line containing `def try_remove(filename):` (it should be line 805 in version 0.8)

3. Mo

[2018-05-31 10:28] unamunoe commented on #33
By re-installing TexText to the 0.8 version this issue is solved.

Thanks.

[2018-06-01 02:02] yuxinopt commented on #34
Thanks.

I did the test following your guide. Errors remain the same, but no such window pops out.

Best wishes

[2018-06-01 21:18] jcwinkler commented on #34
Meanwhile I was able to reproduce the problem, see commit 76aab088b3e81bc2b74d96ed9fafa231133030c5

It would be nice if you could check this on your system. Please perform the following steps:
1. Close Inkscape
2. Open your Inkscape extension directory (should be `c:\Users\admini1~1\AppData\Roaming\inkscape\extensions`)
3. Remove the files `textext.inx` **Note**: The **inx** file, not py !!
4. Ope

[2018-06-01 23:08] jcwinkler commented on #30
I posted a detailed analysis at https://bugs.launchpad.net/inkscape/+bug/1734624/comments/21

[2018-06-02 01:02] yuxinopt commented on #34
jcwinkler, thank you very much!

I did the check, the results are:

1. Upon removing the textext.inx file, the TeXText extension does not show up in the extension menu.

2. Upon using the fix.zip files, I got the following errors:
upon preview:  [Error 2] : 'texput.log'

upon save:

[Error 2] : 'texput.log'
Traceback (most recent call last):
  File "asktext.py", line 583, in cb_ok
    self._texcmd

[2018-06-04 18:45] jcwinkler commented on #34
Hmm, I am quite puzzled about what's going on on your system. I use Windows 7 and TexLive too as a test system...

Please perform the following test:
1. Close Inkscape
2. Download the attached zip file [textext-no-temp-delete.zip](https://github.com/textext/textext/files/2069579/textext-no-temp-delete.zip) and unpack its content into the Inkscape extension directory (`c:\Users\admini1~1\AppData\Ro

[2018-06-05 06:35] leberwurstsaft opened #35 "Add debug options to the GUI"
I think we should add some kind of debug option toggles right into the normal release. Or alternatively some way to read an environment variable that governs the debug flag(s). The manual copying and pasting of debug versions is 1. tedious, 2. prone to errors and a source of confusion if it isn’t correctly rolled back/replaced afterwards.

[2018-06-05 11:15] jcwinkler opened #36 "Color loss when re-editing nodes created in Inkscape 0.48.x + TexText 0.5.x"
TexText 0.8beta1: When re-editing *some* TexText nodes produced with Inkscape 0.48.x and TexText 0.5.x (?) the color is lost. Setting the colors manually in Inkscape makes them appear again.

Reason:  In the group attribute of the original svg node fill color is set to `None`. The children "overwrite" this by setting fill color to black. When re-editing the node TexText takes the style info from t

[2018-06-06 13:27] laods commented on #18
@jcwinkler: First of all I am really sorry for my late reply. My excuse is that I defended my PhD thesis this monday, so I have been too busy the last weeks.

`ll /usr/bin/python*` produce the following:
/usr/bin/python -> python2.7*
/usr/bin/python2 -> python2.7*
/usr/bin/python2.7*
/usr/bin/python2.7-config -> x86_64-linux-gnu-python2.7-config*
/usr/bin/python2-config -> python2.7-config*
/usr/b

[2018-06-06 16:00] jcwinkler commented on #18
You have my full understanding for any delays resulting from this!

The output of the `ll /usr/bin/python*` is exactly the same on my system.

There is only one test we can do now. Since you have already worked in the textext source files please do the following:

Open the file `asktext.py` in the extension directory and navigate to the line `import os`. Just after the line insert:

[code]

Make s

[2018-06-07 05:47] yuxinopt commented on #34
Thank you very much for the efforts! In fact I did another test. I rolled back from TeXLive 2018 to TeXLive 2016 and all the errors disappeared.

Best wishes

[2018-06-07 08:17] laods commented on #18
[code]

Then `ll /snap/inkscape/4019/usr/bin/python*` produce
[code]

So it seems like inkscape is using its own python binary in this snap directory. I am not so familar with snap, but I was not allowed to ("Read-only file system") change the links.

[2018-06-07 10:03] jcwinkler commented on #18
I think the easiest solution is to do

`snap remove inkscape`

followed by

`sudo apt-get install inkscape`

so you drive inkscape not in the snap environment and you have access to the pygtk package you have already installed into your python distribution under /usr/bin.

Does this "solve" your problem?

[2018-06-07 11:47] laods commented on #18
Yes, it solved this problem.
However, then another problem is encountered: I have Ghostscript 9.22, which is listed under 'Known issues' in the README file. I guess I will have to try getting an older verson of GS or wait for support for pstoedit.

[2018-06-07 12:09] jcwinkler commented on #18
Great to hear! The snap packagement by Canonical seems to break the complete Inkscape extension system, see e.g. https://github.com/evil-mad/axidraw/issues/57 , there other packages of inkscape are not found (That's why you had to add the line to sys.path).

When you use TexText 0.8 you can install **pdf2svg** so you do not need ghostscript. See step 4 in https://github.com/jcwinkler/textext/wiki/

[2018-06-07 12:55] laods commented on #18
I installed pdf2svg, but still get the same error. Do I have to tell someone to use pdf2svg instead of ghostscript?

[2018-06-08 06:32] laods commented on #18
[code]

[2018-06-11 07:41] laods commented on #18
Yes. If I look briefly into textext.py, it seems like pdf2svg is a newer implementation than what is included in my tarball (TexText-Linux-0.7.2.tgz). I can't remember where i got mine from, but I will try the newest release.

[2018-06-12 13:14] #36 closed

[2018-06-13 08:47] laods commented on #18
And now it works!
(TexText-Linux-0.8-beta3.tgz)
Thanks for helping me out.

[2018-06-14 07:00] jcwinkler commented on #18
Good to hear and thanks for your patience.

To sum up we have to state that the snap package management of ubuntu caused the import error problems. In fact, if one installs Inkscape via snap the extension system seems to be broken (I tested this also with other extensions). I will file a bug report.

[2018-06-14 07:00] #18 closed

[2018-08-09 20:57] MattRayment opened #38 "Textext wont run - Syntaxerror appears in Inkscape"
I have just installed textext for windows and am getting this error when I try and run it in Inkscape.
Error Box is:
"Inkscape has received additional data from the script executed.  The script did not return an error, but this may indicate the results will not be as expected."

Error Message is:

SyntaxError: invalid syntax
  File "textext.py", line 1201
    color_style_dict = {key: value for key

[2018-08-12 09:56] DavidCheshire opened #39 "Use external otf or ttf font"
I have a preferred font, Baskerville 120 Pro, set as the default font in Inkscape. It would be nice if TexText would automatically use the Inkscape default font. If not by default, it would be nice if the font to be used by TexText could be specified as an external system gont. I understand that XeLaTex supports this, but entering \setmainfont{Times New Roman} in the TexText equation editor produc

[2018-08-15 15:31] sizmailov commented on #39
`\setmainfont{Times New Roman}` probably should go to preamble file rather than in equation editor. Did you try it?

[2018-08-18 10:01] DavidCheshire commented on #39
Thanks for getting back to me. I tried adding it to default_packages.tex, so that it is:

\usepackage{amsmath,amsthm,amssymb,amsfonts}
\usepackage{color}
\setmainfont{Times New Roman}

but I get the same error message whether I use pdflatex, xelatex or lualatex:

"Your LaTeX code has problems:
5: Error: Undefined control sequence \setmainfont.
Problem exists here: \setmainfont"

[2018-08-18 12:45] sizmailov commented on #39
`setmainfont` comes from `fontspec` package. You should import it first.

    \usepackage{fontspec}
    \setmainfont{Times New Roman}

[2018-08-20 15:14] jcwinkler commented on #39
I will add a section to the WIKI which gives some hints for the usage of specific fonts and specific sizes because these questions are asked quite frequently.

[2018-08-20 15:53] DavidCheshire commented on #39
Excellent, thank you both for your help.

[2018-08-22 12:54] veltsov opened #40 "Non-default preamle is reset when text dialog is opened"
When a non-default preamble is selected in the text dialog, it works for compiling and inserting into the document. It is also properly saved in the SVG file. However, when the dialog is opened again to edit the text, the preamble is reset to the default one (default_packages.tex). The reason is that clear_preamble is called during the window creation after the old preamble value is set in the con

[2018-08-22 13:26] jcwinkler commented on #40
Confirmed. Thanks @veltsov for reporting and the patch. I will test the patch and fix this.

[2018-08-23 12:46] #40 closed

[2018-08-23 15:02] jcwinkler commented on #34
Although not directly verified by the user the reason for this issue was a non safe deletion of the temp directory which has been fixed by commit 8c65ec0 and which went into release 0.8 of TexText.

[2018-08-23 15:02] #34 closed

[2018-08-23 15:02] jcwinkler commented on #8
Movement completed: https://github.com/textext/pygtk-for-inkscape-windows

[2018-08-23 15:02] #8 closed

[2018-09-04 15:42] charlesd46 opened #42 "Error when trying to preview in lualatex."
Command lualatex c:/users/sec_ch~1/appdata/local/temp/tmpxmfb7u/tmp.tex -interaction=nonstopmode -halt-on-error failed (code 1): This is LuaTeX, Version 1.07.0 (MiKTeX 2.9.6800 64-bit)
 restricted system commands enabled.
! I can't find file `c:/users/sec_ch'.
<to be read again>
\protect
<*> c:/users/sec_ch~
                 1/appdata/local/temp/tmpxmfb7u/tmp.tex -interaction=nonstop...
(Press Ent

[2018-09-06 08:09] jcwinkler commented on #42
Unfortunately, I am not able to reproduce the error on my system.

I am a bit puzzled why on the one hand side ```c:/users/sec_ch1``` and on the other hand side ```c:/users/sec_ch~1``` appears in your message (DOS-Windows-path substitution on FAT?).

[2018-09-07 06:28] jcwinkler commented on #42
OK, this issue is another motivation to implement a debug system as proposed in issue #35 .

[2018-09-09 14:48] 1koopa opened #43 "Textext error on debian 9"
I have just installed textext for linux (debian 9) following this guide:
https://github.com/textext/textext/wiki/Installation-specific-instructions-for-Linux-systems
and am getting this error when I try and run it in Inkscape.

On the window "Enter latex formula - TexText" if I click on Preview option:
Command pdflatex /tmp/tmpaKlhHw/tmp.tex -interaction=nonstopmode -halt-on-error failed: [Errno 2

[2018-09-10 09:35] jcwinkler commented on #43
Most likely the pdflatex command is not found (the error message would differ if the tex file is not found by pdflatex).

Please open a terminal and enter the command ```pdflatex``` followed by pressing Return. Is the command successfully executed ("This is pdfTeX, Version ... ")?

[2018-09-10 13:05] 1koopa commented on #43
It is show me this:
This is pdfTeX, Version 3.14159265-2.6-1.40.19 (TeX Live 2018) (preloaded format=pdflatex)
 restricted \write18 enabled.

[2018-09-11 14:56] charlesd46 opened #44 "Error Message Opening TexText"
Traceback (most recent call last):
  File "C:/Program Files/Inkscape/lib/python2.7/site.py", line 546, in <module>
    main()
  File "C:/Program Files/Inkscape/lib/python2.7/site.py", line 528, in main
    known_paths = addusersitepackages(known_paths)
  File "C:/Program Files/Inkscape/lib/python2.7/site.py", line 272, in addusersitepackages
    user_site = getusersitepackages()
  File "C:/Program

[2018-09-14 16:36] jcwinkler commented on #43
So pdflatex is on the system path but not found when called from ```subprocess.Popen``` from TexText.

Similar to the problem described here: https://stackoverflow.com/questions/4230926/pdflatex-in-a-python-subprocess-on-mac

But the solution given there (absolute path) is not applicable to TexText, of course.  Does anyone else has an idea?

[2018-09-14 17:53] sizmailov commented on #43
Yes, it's puzzling. pdflatex works in terminal and doesn't in TexText.

What can lead to this? I can imagine two possibilities:
1) different values of $PATH in terminal and in inkscape/TexText
2) pdflatex is an alias, so it's unreachable from subprocess

@1koopa can you check environment variables in TexText by changing couple of lines in textext.py by replacing

https://github.com/textext/textext

[2018-09-14 19:14] 1koopa commented on #43
Command env:
XDG_MENU_PREFIX=gnome-
LANG=en_US.UTF-8
GDM_LANG=en_US.UTF-8
DISPLAY=:1
COLORTERM=truecolor
DESKTOP_AUTOSTART_ID=xxxxxxxxxxxxxxxxxxxxxx
USERNAME=k
XDG_VTNR=2
SSH_AUTH_SOCK=/run/user/1000/keyring/ssh
XDG_SESSION_ID=4
USER=k
DESKTOP_SESSION=default
QT_QPA_PLATFORMTHEME=qgnomeplatform
PWD=/home/k
HOME=/home/k
JOURNAL_STREAM=8:18651
SSH_AGENT_PID=904
QT_ACCESSIBILITY=1
XDG_SESSION_TYPE=x1

[2018-09-14 21:35] sizmailov commented on #43
I assume PATH variable is extended in your `~/.bashrc`. Thus you are able to run pdflatex in terminal.

At the same time this changes are NOT propagated to inkscape and in turn to TexText. I have tested on ubuntu but should be the case for debian too: `~/.bashrc` does not affect environment of "desktop" applications, while `/.profile` does. So the hot fix would be to copy lines related to PATH to

[2018-09-14 21:47] 1koopa commented on #43
I'm newbie on Linux. How can I change the Path on /.profile ??

[2018-09-14 22:32] sizmailov commented on #43
look for lines like
[code]
or
[code]
where "..." should contain path to pdflatex

from the outputs you post I think that this should do the trick:

[code]
Just append it to ".profile"

Afterwards you need to re-login to see effect.

[2018-10-05 07:48] doraven opened #45 "can not run on python3 default linux"
my ubuntu18.04, soft link /usr/bin/python linked to /usr/bin/python3 , many syntax errors.
Setting back to python2, everything fine now.

Is there any solutions to this?

Is setting python2 as default env the only way?

[2018-10-05 08:28] doraven opened #46 "Preview error"
`Could not convert PDF to PNG. Please make sure that ImageMagick is installed.
Detailed error message:
Command convert -density 200 -background transparent /tmp/tmpD4gvs2/tmp.pdf -trim /tmp/tmpD4gvs2/tmp.png failed (code 1): convert-im6.q16: not authorized `/tmp/tmpD4gvs2/tmp.pdf' @ error/constitute.c/ReadImage/412.
convert-im6.q16: no images defined `/tmp/tmpD4gvs2/tmp.png' @ error/convert.c/Conv

[2018-10-05 08:35] sizmailov commented on #45
I have a fresh install of ubuntu 18.04.1. The default `python` is python2.7:
[code]

If you prefer to have python3 as default you should specify path to python2.7 for inkscape, see
http://wiki.inkscape.org/wiki/index.php/Extension_Interpreters

[2018-10-05 08:56] doraven commented on #45
@sizmailov thx, it shall help me a lot

[2018-10-05 08:56] #45 closed

[2018-10-06 18:44] veltsov opened #47 "Wrap text in the latex text box"
It would be nice to wrap (automatically move to a new line) the latex text in the editor box. I often copy the latex text from some other source, which might have very long lines due to automatic wrapping usually available in any editor. Such long lines are difficult to work with in the current textext dialog. Unconditionally the wrapping is added by a single-line patch (attached), but full implem

[2018-10-09 06:28] doraven commented on #46
OK, found the answer myself.
[https://stackoverflow.com/questions/42928765/convertnot-authorized-aaaa-error-constitute-c-readimage-453](url)

Gold bless u~~~~

[2018-10-09 06:28] #46 closed

[2018-10-09 10:03] jcwinkler commented on #47
Thanks @veltsov . I will review this during the week.

[2018-10-15 14:05] JohnCovering opened #48 "Your LaTeX code has problems"
Hello,

I tried to run TexText 0.8.1 with Inkscape 0.92.3 on Windows 10, but I got the following error when clicking on the Save button.
The LaTeX code was : $x$

With TexText 0.7.3 I don't have any error.

Your LaTeX code has problems:

Traceback (most recent call last):
  File "asktext.py", line 599, in cb_ok
    self._texcmd_cbox.get_active_text().lower())
  File "textext.py", line 292, in call

[2018-10-15 14:32] sizmailov commented on #48
I wonder is your error message truncated? Is there anything after `RuntimeError: Your LaTeX code has problems:`?

[2018-10-17 11:36] JohnCovering commented on #48
No, there's nothing after "RuntimeError: Your LaTeX code has problems:"

[2018-10-20 11:52] mateusz-lacki opened #49 "line 54 of textext.py should be changed"
it is currently:  'MAC = "Mac OS"'. At my computer platform.system() returns "Darwin". After I changed "MAC="Mac OS"" to 'MAC = "Darwin"'. the extension started to work (otherwise it was throwing missing files errors, as calling external tools failed).

[2018-10-21 01:50] moorepants opened #50 "python setup.py from the git repo fails"
The setup.py references a non-existent `extensions` directory. It would be nice if one could `git clone` the repo and then either copy the correct files to the inkscape config directory or even just symlink them. Right now `python setup.py` returns `Installation Failed :(` with no useful information.

[2018-10-21 13:40] sizmailov commented on #50
I get confused with this. It's duplicate of #28

[2018-10-22 23:57] habroland opened #51 "errors in both linux and windows for inkscape 0.92.3"
I'm trying to compile $\alpha$. Moreover, for some reason the boxes "Reset" and Alignment are greyed out.
Errors:

In win10 x64:

Your LaTeX code has problems:

Traceback (most recent call last):
  File "asktext.py", line 599, in cb_ok
    self._texcmd_cbox.get_active_text().lower())
  File "textext.py", line 292, in callback
    tex_cmd, original_scale=current_scale)
  File "textext.py", line 393

[2018-10-23 10:11] sizmailov commented on #51
1) Buttons are for re-editing, so they are disabled at first, see issue #25
2) Can't comment on issue on Windows
3) Linux issue seems to be related to #43, please check given solution

[2018-10-23 14:45] leberwurstsaft commented on #49
Hm, don't we have to take into account that it might also show Mac OS (on older OS versions)? Or was this always broken?

While I'd been developing on a Mac I've had mostly focused on Windows and Linux compatibility. But I've never noticed an issue with that. So it sounds like something changed in the meantime and maybe it's not consistent between Mac OS versions.

[2018-10-23 14:49] sizmailov commented on #49
I tried to google it, seems like it always was "Darwin". So no point to allow both.

[2018-10-23 15:06] leberwurstsaft commented on #49
Alright then :)

[2018-10-23 21:43] habroland commented on #51
Got the solution for linux:

pdflatex is not installed by default in lubuntu. I got mislead by the "TeX command" box since I thought it would be clever enough to check that the commands are installed before adding them to the drop-down list.
After installing pdflatex, there was another error about the "convert" command of "imagemagick". It was solved by removing some restriction in the policy: htt

[2018-10-24 07:45] leberwurstsaft commented on #51
Regarding the empty error:
The script uses a third party library to parse the tex log to make it more readable and remove the verbosity.
Looks like it either didn’t really find anything to keep, or there was no error after all?
Either way, there should be a check for an empty result of that parser and in that case the whole input error.log should be shown.

[2018-10-24 14:46] sizmailov opened #54 "Perform system checks during installation"
Now `setup.py` only copies files into inkscape extensions directory.

It would be helpful to abort installation if TexText requirements are not met. For example if none of pdflatex/lualatex/xelatex is found in PATH.

Such checks are expected from `setup.py` https://github.com/textext/textext/issues/51#issuecomment-432431854 This would improve user experience.

Once it's done, installation via `set

[2018-10-24 18:01] habroland commented on #51
I could not find any error.log file, not sure in which folder it is supposed to be either.
I'm using MikTex 2.9 and made sure all three available TeX commands can be run from the command line
Using TexText in Inkscape, I tried pdflatex and lualatex, both show the same error, while xelatex works fine!

[2018-10-29 13:03] sizmailov opened #56 "pstoedit objects distorted if edited with pdf2svg and vice versa"
Steps to reproduce:
1) Create TexText object with pstoedit backend
2) Apply skew/rotation to TexText object
3) Open TexText object with pdf2svg backend, click "Save" button.

Affected systems:
 - Ubuntu 18.04.1
   - pstoedit: 3.70-5
   - ghostscript: 9.25~dfsg+1
   - pdf2svg: 0.2.3-1
   - textext 0.8.1
   - inkscape 0.92.3
 - Ubuntu 14.04.5
   - pstoedit: 3.62
   - ghostscript: 9.25~dfsg+1
   - pd

[2018-10-30 02:05] sizmailov commented on #56
The solution:
Change https://github.com/textext/textext/blob/0164a57dc65bb8f2024e315ab7a0769afe0fe933/textext.py#L1137-L1141
to
[code]

where `revert flip` is `[[1,0,0],[0,1,0]]` if converter is same and `[[1,0,0],[0,-1,0]]` if they differ

I propose to change signature and name of `_check_and_fix_transform` to return such matrix.

[2018-10-30 20:51] jcwinkler commented on #54
I checked the new setup procedure on Linux. You did a great job @sizmailov , thank you very much!

I will adapt this script to Windows (some paths need to be adapted and the colorama package is required for the color escape sequences). But I will also continue to provide the installer since Windows users are more accustomed to them and you cannot expect a working Python distro on a an average Wind

[2018-10-30 20:55] #50 closed

[2018-10-30 20:58] jcwinkler commented on #51
This is a duplicate of #48. Will continue to investigate this under that issue.

[2018-10-30 20:58] #51 closed

[2018-10-30 20:58] #44 closed

[2018-10-30 20:59] #38 closed

[2018-10-30 21:03] jcwinkler commented on #49
@mateusz-lacki, do you think you are able to provide installation instructions for TexText on MacOS? We still do not have such instructions in our WIKI. See #31.  Any contribution would be highly appreciated!

[2018-10-30 22:10] sizmailov commented on #54
1. and 2. Agreed. The best way to address the issue would be traverse requirement-check tree and mark errors as critical or not. The critical errors would be the errors which leads to whole check failure. Non-critical errors can be marked as INFO. Hope I can implement this in a couple of days.
 3. Good idea. Should be done by default without options.
 4. Right. Current users already expects `setup

[2018-10-31 01:36] sizmailov opened #57 "Add continuous integration tests"
TexText is a GUI plugin, so CI does not exclude manual testing.

Nevertheless some parts of TexText could be automatically tested. For example backward compatibility tests are massive and time consuming.

What can be done with CI:
 - backward compatibility checks (newer version is able to operate on svg generated with older versions)
 - back-end interoperability pstoedit/pdf2svg
 - extension insta

[2018-10-31 04:58] mateusz-lacki commented on #49
Ok I will see what I can do, but actually instructions from Linux sort of apply with little modification.

[2018-10-31 05:34] sizmailov commented on #54
I'm ok with .nsi installation for Windows. By the end of the day `setup.py` might be imperfect and someone would face the need in alternative method. But I think the alternative should be "Plan B".

Can't we have a wrapper around `setup.py` for windows? If python interpreter comes with inkscape it should be available on any target machine.

Requirements of `setup.py` itself should be as low as pos

[2018-10-31 09:01] jcwinkler commented on #49
Great. You can fork the wiki or provide it directly in #31. Maybe you can use the linux instructions and modify them where necessary.

[2018-10-31 09:17] jcwinkler commented on #54
The Python interpreter shipped with Inkscape on Windows is not in the system path. Hence calling setup.py from a command window will fail. So on Windows setup.py will be for advanced users and developers.

Agreed. Will do so.

[2018-10-31 09:22] jcwinkler commented on #57
Yes, CI tests would be really helpful. Currently I do backward compatibility tests manually using the snippets collection. Question is how to comapare the svg-results without having a "visual look" on them since svg code differs quite a lot, e.g. between pstoedit and pdf2svg.

[2018-10-31 09:33] jcwinkler commented on #51
I updated the links in the WIKI.

[2018-10-31 10:06] sizmailov commented on #57
I ended up with comparison of png images. It's not perfect, needs adjustments of thresholds, but it's better than nothing.

Here I cite [commit](
https://github.com/sizmailov/textext/commit/3c10b3792f6969f9104652514ffabda8dd0f2e5d
) message:

Now I successfully run tests on ubuntu at travis-ci.

I tried to extend testing environment to MacOS on travis, but miserably failed(. To run tests one need

[2018-10-31 10:13] sizmailov commented on #54
Yes, this Python is not in system path, but it's here. I think we can try, it might be not too elegant what about a .bat file to run setup.py? Should not be a big deal.

[2018-11-01 07:33] jcwinkler commented on #54
We could temporarily tweak the system path by the batch file and then run the tests using the Inkscape Python. I will check if the necessary modules are available there. By this approach we can also easily check if the user has installed the Python distro during Inkscape installation (it can be opted out).

[2018-11-01 07:35] jcwinkler commented on #57
Great to hear, thank you!

[2018-11-04 10:13] sizmailov commented on #54
Yes, that is close to what I had in mind.

I think new version of `setup.py` brings more value for beginners/people who don't read docs carefully rather than to devs/advanced users. It tells exactly what is wrong with current configuration which is most of time is obvious for latter.

In addition to error message we should provide a solution. It might be system-specific instructions and/or link to

[2018-11-05 01:15] sizmailov opened #59 "Move doc to github.io, provide solutions for common issues"
System-specific solution might be to wordy to be readable from popup in plain text, it's worth to have such page with solutions for all problems.

Current page: https://github.com/textext/textext/wiki/Common-issues

What should be included in each "common-issue"
 1. Description of _observed_ behavior
 2. Error message from TexText if available (We should provide error messages for different TexTex

[2018-11-05 01:24] sizmailov opened #60 "Consider dropping dependency on imagemagick"
Right now conversion pdf->png is done by imagemagick. It's valid and working approach.

But the downside is the fact that it can be done without imagemagick:
Since we require pdf->svg converter and inkscape is able to convert svg->png the two step procedure would be:
1) pdf->svg
2) svg->png

[2018-11-05 09:15] jcwinkler commented on #47
Should we provide this as a checkbox? I think so.
Should word wrap be a default behaviour? It is a matter of taste. Would not set it as default. User can select it and TexText remembers the state. On a per node basis or on a per machine basis?

[2018-11-05 09:17] #56 closed

[2018-11-05 13:01] jcwinkler commented on #54
I implemented this in the Windows installer. In the case an old installation is detected the old extension files are silently deleted, any tex files are copied to the new dir and the following message box pops up:

![grafik](https://user-images.githubusercontent.com/11866252/47999500-0764d400-e103-11e8-8239-8c68caf4080d.png)

[2018-11-05 13:46] sizmailov commented on #54
Looks good!

Is there any alternative use case?

I think preamble is the *only* file we want to keep. The details about copying are redundant.
In my test question should be shorted to

"Do you want to keep preamble file from previous installation? Press `<Yes>` to keep, `<No>` to replace"

[2018-11-05 13:48] jcwinkler commented on #60
[code]
does the job and I implemented this. If this also works under Inkscape 0.48 we can remove the imagemagick dependency.

[2018-11-05 13:53] jcwinkler commented on #54
There is the possibility that other extensions have placed tex files into the extension directory as well and it would not be fair to remove them by accident. Also the user could have several package-tex files in the directory so we have to be sure to copy all of them and not only `default_packages.tex`

[2018-11-05 14:20] sizmailov commented on #54
I think `default_packages.tex` is our only concern.
If user created other files, let them be. We should clean up only after previous TexText installations.

I am against doing anything beyond our responsibility. Otherwise we will take risks without knowledge of the situation.

[2018-11-05 15:09] sizmailov commented on #35
I tried to rework error handling. It seems like the right place to discuss/criticize the approach.

Changes:
 - Do top-level error collection
 - Do logging
    - One channel directed to a log file (not currently work on Windows, due to strange permissions problem, tried several places with no luck. Any suggestions? )
    - Another one is to be shown to end user
 - Hierarchy of exceptions is introd

[2018-11-05 20:13] leberwurstsaft commented on #47
I believe it should be a per user/machine setting.

[2018-11-05 20:15] leberwurstsaft commented on #60
Slightly off topic: I really like the momentum the project gained and the small but effective improvements like this one. 👍

[2018-11-05 20:19] leberwurstsaft commented on #54
I think when someone places their .tex files into the extension directory, it's kinda their fault/responsibility. So yes, only take care of the files that came with the old installation.

[2018-11-05 21:34] jcwinkler commented on #35
This is awesome!

I tested it under my Windows installation and it ran out of the box, the log file was created successfully. I provoked some errors and they were properly logged.

Under Windows the extension files usually goe to `c:\Users\USERNAME\AppData\Roaming\inkscape\extensions\textext\` and so the log file does. The user has write permissions there, otherwise he would not have been able to

[2018-11-05 21:45] jcwinkler commented on #60
It does work also under Inkscape 0.48.5. So one dependency less. :blush:

[2018-11-06 07:53] jcwinkler commented on #54
I tested this solution and it works in principal. However, colorama package is not available in Inkscape' Python so we have to provide the script without colors or use a different approach, e.g. `curses` library (do not know at the moment if this works toegether with the logger). I will check this and provide a solution.

[2018-11-06 12:41] sizmailov commented on #35
Sorry, I copied to TexText to system extensions folder instead of appdata, so just my mistake.

I'm not 100% happy with current state of the code. Let me clarify it a bit:

Fatal errors are errors which disables normal functioning of extension, for example if latex is missing.
Non fatal are errors which breaks normal execution, but we able to recover. For example: imagemagick is missing.

Both com

[2018-11-07 10:19] sizmailov commented on #60
Fortunately changes to `__init__.py` are minimal (based on #62):

[code]

[2018-11-07 20:17] sizmailov commented on #60
@jcwinkler Sorry, I had impression that you already did it, but then didn't find it in this thread ...

[2018-11-07 20:29] jcwinkler commented on #54
I modified the setup.py so it runs flawlessly on non colored Windows:

https://github.com/jcwinkler/textext/blob/0beb1bea0cfc97c3b96a578a2f4b1bc77baeacbc/setup.py

However, it is not in sync with the newest improvements of @sizmailov. So we need to figure out how to merge it later.

The batch file works in principal (see https://github.com/jcwinkler/textext/blob/0beb1bea0cfc97c3b96a578a2f4b1bc77ba

[2018-11-07 22:44] sizmailov commented on #54
I merged changes to https://github.com/sizmailov/textext/tree/merge_setup_py_windows

New: introduced `LinuxDefaults` and `WindowsDefaults` to store all system-dependent values.

I believe you have a typo in line 33 `"ghostcript": "gs"`, so it's strange that it works on your system unless you have a "ghostscript" executable on Windows otherwise we have a bug in `setup.py`.

Another issue with setu

[2018-11-08 07:19] jcwinkler commented on #54
See my yesterday's commit message of the fix of this typo: https://github.com/jcwinkler/textext/commit/f4f35d914ede393d69295b8fb44211170870168f

But you are right, on Windows it can be `gswin64c.exe` or `gswin32c.exe`. During my rough testing I did not observe this issue because I just checked if the extension is installed which was the case because I have pdf2svg.

There will always be a case whe

[2018-11-08 07:30] jcwinkler opened #66 "Possibility to run setup.py on Windows"
This issue is related to #28. Goal is to drive `setup.py` on Windows even if no standalone Python distribution is installed on the system. This can be achieved by using the Python distribution which is shipped with Inkscape. For this purpose setup.py is called from a batch file.

- [x] Reliable determination of the Inkscape installation for calling Python
- [x] Handle colors of setup.py output (at

[2018-11-08 07:39] jcwinkler commented on #54
Smart solution, thank you!

[2018-11-08 10:03] sizmailov commented on #54
Do you mean that `setup.bat` file should forward it's own command line arguments to `setup.py`?
I'm not sure that for regular Windows user it would be easy to run .bat file with command line arguments.

Ok, lets do it. In principle we can implement two sets of detection functions as methods `LinuxDefaults` and `WindowsDefaults`.

[2018-11-08 10:10] sizmailov commented on #57
@jcwinkler Can you activate travis-ci for this repo?

[2018-11-08 11:00] jcwinkler commented on #54
My idea is: An average user who does only want to install the extension should just call `setup.py`, if for special purposes command line arguments are required by advanced users then they can be passed, so basically the same behavior as setup.py has.

[2018-11-08 11:07] jcwinkler commented on #57
I activated it and put the logo into the develop branch https://github.com/textext/textext/tree/develop

[2018-11-10 20:33] sizmailov opened #69 "Store TexText global settings in extensions/textext/config.json"
Now global settings stored in `./inkscape/textextrc` on Linux/MacOS and in register on Windows.

The storage of configs in `./<AppName>/` was deprecated. Now `./inkscape/` contains only `textextrc`.
The better location of settings file would be `extensions/textext`. And it can be done for all systems uniformly.

The format of the config also can be changed to json. The `json` is builtin module, so

[2018-11-11 20:17] sizmailov commented on #54
I have implemented almost all features in https://github.com/sizmailov/textext/tree/add_lookup_handles

- [x] Allow users to specify exact paths to executable
  * at setup through command line arguments (e.g: `--xelatex-executable=/usr/bin/xelatex`)
  * after installation by modifying `config.json` (e.g: add  `"xelatex-executable" : "/usr/bin/xelatex"` to `config.json`)
- [x] Create `setup.log` at

[2018-11-14 14:38] jcwinkler commented on #69
I would discard it. This setting is only relevant once when creating a new node after the update to 0.9. So there it should be OK to use the default values.

[2018-11-14 14:58] jcwinkler opened #70 "Remember last used latex command"
When having created a new node, e.g. with `xelatex`, and when later creating an additional node from scratch (i.e. not by duplicating and modifying the previously created one) the GUI does not remember that `xelatex` has been used in the previous node. It would be nice if this is the case.

@sizmailov Maybe this can be done in the work on issue #69 (if it has not already been done, I have no time

[2018-11-14 15:15] sizmailov commented on #70
So it would be global option, just as `preable file`, right?
Ok, I'll do it.

[2018-11-16 04:36] sizmailov commented on #59
Didn't found a way to make links in github wiki pages permanent. If you change the section label, link changes too. Didn't work with markdown or even with restructuredtext.

A solution would be to move wiki to github pages. Here is first draft rendering:
https://sizmailov.github.io/textext/

The branch with reworked documentation: https://github.com/sizmailov/textext/tree/build_gh_pages

The docum

[2018-11-16 05:02] sizmailov commented on #70
Implemented https://github.com/sizmailov/textext/commit/483053996bbfd4962e79a2bff2811b779f75fc05

[2018-11-17 14:09] sizmailov commented on #59
Here are two examples of setup.py output.

The worst scenario:
![image](https://user-images.githubusercontent.com/2975991/48661845-a4235c00-ea89-11e8-87ee-1824be6d800a.png)

Inkscape is not found:

![image](https://user-images.githubusercontent.com/2975991/48661871-03816c00-ea8a-11e8-8456-e91f3fc2d8ca.png)

Should we hide help messages with links for non-criticall errors? In latter example only fi

[2018-11-17 17:38] sizmailov commented on #69
I would vote for "discard" option too. Implemented in active branch.

[2018-11-20 07:33] jcwinkler commented on #59
This is another good idea and input from you. Working with the WIKI is not very straightforward, I agree. So we should switch to this approach and it would be nice if you could open an appropriate PR.

Thank you very much.

[2018-11-20 07:34] jcwinkler commented on #35
@sizmailov Could you provide this approach https://github.com/sizmailov/textext/tree/do_propper_error_handling as a PR? Or is it already included someehwere else? I am a bit confused.

Thanks!

[2018-11-20 10:08] sizmailov commented on #35
It's all included in `add_lookup_handles` so #71 has it

[2018-11-27 13:30] mardukbp opened #74 "Scribus support"
Scribus and Inkscape are probably the best known and most capable free-software tools for graphic design and desktop publishing. Among other things, Scribus supports creating PDF forms, linking (instead of embedding) images and, like Inkscape, it has a Python API. It also has the ability to render LaTeX fragments, but that is not convenient for inserting math symbols or equations, which is what Te

[2018-11-27 14:11] jcwinkler commented on #74
Of course it would be great to see TexText working in further programs like Scribus. However, we need someone who is able to work on that topic and who is able to offer the support. Personally, I do use Scribus on rare circumstances and my amount of spare-time for such projects is very limited and completely used by TexText for Inkscape.

@sizmailov maybe you have plans in such directions since I

[2018-11-27 14:57] sizmailov commented on #74
@mardukbp If get it right you ask for TexText extension for Scribus, right? It would require one to replace inkscape-provided API by Scribus API inside of TexText plugin. Presumably it's not too hard, but it's a lot of work and definitely would be a separate project. Fortunately 99% of inkscape-dependent code resides in [one file](https://github.com/textext/textext/blob/develop/extension/textext/_

[2018-11-27 15:53] sizmailov commented on #54
What should we do with MacOS? It seems to be (the only?) release blocking issue.

In principle it would work, once user provides all paths to executables. But it will never succeed out of box, since `inkscape` is not in PATH by default. A separate MacOS installation page is also required, so all the links will be different.

[2018-11-27 20:32] jcwinkler commented on #54
@leberwurstsaft Do you think you may have some time to have a look on this topic on your Mac?

[2018-11-27 21:36] leberwurstsaft commented on #54
I was about to suggest that. While I can't help developing at this time, I think I can have a look at Mac compatibility. What exactly should I look for / try?

[2018-11-27 23:14] jcwinkler commented on #54
What I learnt from my students is that another crucial part is the detection of the correct Python interpreter, i.e. the interpreter actually called by Inkscape for the execution of the extensions. This is important of course for the installation of PyGTK. If I understood correctly such problems especially arrise when a separate Python distro like Annaconda is installed. On some machines Inkscape

[2018-11-28 00:14] sizmailov commented on #54
Inkscape looks for `python` (literally) in PATH (see link below). Most of distributions defines it to be python2.7. For desktop applications PATH variable is not affected by `~/.bashrc`, but affected by `~/.profile`.

We need to add check for current interpreter version in `__init__.py`. It might be python3 on some distributions. Path to python interpreter might be configured http://wiki.inkscape.

[2018-11-28 17:22] jcwinkler commented on #47
**Word Wrap OFF:**
![grafik](https://user-images.githubusercontent.com/11866252/49169343-db232880-f339-11e8-823e-315e56b8d223.png)

**Word Wrap ON:**
![grafik](https://user-images.githubusercontent.com/11866252/49169474-1d4c6a00-f33a-11e8-899c-4fba269cf8d2.png)

Without GTKSourceView there will be only one entry in the Menu. TK is open.

Any suggestions w.r.t. to the position of the checkbox?

[2018-11-29 14:06] mardukbp commented on #74
Thank you both for your prompt and detailed replies. I hope to find some time in the near future to work on this. I just finished making a math-heavy poster in Scribus and manually importing the equations from PDF files was not that optimal.

I hope you do not mind to leave this issue open in case someone else gets interested and wants to collaborate.

[2018-11-29 18:05] jcwinkler commented on #74
@mardukbp I will keep this issue open. Some hints if you want to start on the project:

All the GUI stuff of textext is found in `asktext.py` (https://github.com/textext/textext/blob/develop/extension/textext/asktext.py). It should be independent of the program.

The connection to the Inkscape API is realized via the `TexText` class in `__init.py__` (https://github.com/textext/textext/blob/develop

[2018-11-30 08:05] michaelhaar commented on #48
I am getting the same error message.

- operating system: Win10 64bit
- inscape version: 0.92.3 with Python 2.7
- Miktex version 2.9.6821
- installed PyGTK-2.24-Inkscape-0.92.3-64bit.exe, pstoedit Version 3.73, ghostscript Version 9.25 and ImageMagick-7.0.8-14-Q16-x64-static.exe as described in the wiki

I also tried to use install textext on my office computer. It also displays the same error mes

[2018-11-30 09:37] michaelhaar commented on #48
@sizmailov TexText version is 0.8.1.

The error doesn't depend on the text itself. It always gives the same error

[2018-11-30 09:38] sizmailov commented on #42
@charlesd46 Can you re-paste the error message inside of code block to avoid markdown interpretation.
Use triple back quotes "```" followed by new line to surround error message.

I would blame this line, specifically the replace:

https://github.com/textext/textext/blob/f174266ab3ea6d5996c264bba198e46803140757/textext.py#L758

[2018-11-30 09:50] sizmailov commented on #48
Can you create a tex file with following content and compile it from command line with pdflatex?

one.tex:
[code]

two.tex:
[code]

1) Hit <kbd>Windows</kbd>+<kbd>R</kbd>, enter `cmd`. The command line will appear.
2) enter `cd "<your folder with test tex files>"`; Note the quotes
3) run  `pdflatex.exe one.tex "-interaction=nonstopmode" "-halt-on-error"`
4) run  `pdflatex.exe one.tex "-interaction

[2018-11-30 10:01] sizmailov commented on #42
In upcoming version we do not use absolute paths to temp files. If my guess is right then issue should be resolved in next release.

@jcwinkler can you make a premature distribution for tests purpose only?
@charlesd46 can you try a pre-release version and confirm it.

[2018-11-30 10:11] michaelhaar commented on #48
Output of one.tex (it wants to install the latex package `mptopdf`)
[code]

Output of two.tex:
[code]

[2018-11-30 10:35] sizmailov commented on #48
@michaelhaar Can you confirm next two points?
1) the empty preamble produce the output (at least for plain text)
2) after installation of extra packages with MikTex the TexText works with default preamble

[2018-11-30 10:38] sizmailov commented on #48
@jcwinkler Can we investigate it deeper?

On the one hand we should not have in default preamble / .tex template anything beyond default installation. On another hand we can't remove the packages which are already here to maintain backward compatibility. Seems like something happened with tex distribution or packages.

We probably should add functionality to show full latex log on demand.

[2018-11-30 10:50] michaelhaar commented on #48
I can confirm the second statement 👍
TexText works with default preamble after installation of the `mptopdf` package (I had to run the `MikTex Console` as administrator ).

[2018-11-30 11:03] sizmailov commented on #48
@michaelhaar Good enough, thank you!

[2018-11-30 11:19] jcwinkler commented on #42
I will prepare a premature distro today.

[2018-11-30 11:30] michaelhaar commented on #48
@jcwinkler I just downloaded the standard Miktex installer from [here](https://miktex.org/download)

[2018-11-30 13:51] jcwinkler commented on #48
@michaelhaar Thank you. It explains why some packages are missing on your system.

@sizmailov
https://github.com/textext/textext/blob/0935ae6bed8fc0c0775ba6799b40a68610ce8988/extension/textext/__init__.py#L603-L611

I suggest that we pass the full log file to `TexTextConversionError` if the logfileparser does not find anything or even better parse_pdf_log returns the full log file if it does not f

[2018-11-30 14:30] sizmailov opened #77 "Provide full latex output on error"
Sometimes latex log parser fails. Full log would be helpful in such cases.

Let's show full latex log if:
  1. latex command fails
  2. parser fails or finds nothing

It would be default behavior and should cover almost all scenarios.

Full log still might be helpful even if parser finds errors, lets have a menu item option
`Show latex output` with options:  `Parsed` and `Raw`.
If `Raw` selected,

[2018-11-30 14:31] sizmailov commented on #48
Created #77, lets move discussion there.

[2018-11-30 14:31] sizmailov commented on #48
@JohnCovering Can you confirm the solution works for you too?

[2018-11-30 14:45] sizmailov commented on #47
All looks good to me. The only missing part is storage of values in config. It holds for all menu items, not only "wrap" option. Or I missed something?

[2018-11-30 14:50] sizmailov commented on #74
@mardukbp Hint: create a gitter chat for your project and post link to it here / invite us directly.
It would be better to have a discussion there than here.

[2018-11-30 15:30] sizmailov commented on #54
Update: I think the check should be against currently used python. It's definitely right for TexText runtime. So, lets make it true for setup.py too.

[2018-12-01 12:43] jcwinkler commented on #54
I agree. On Windows it is ensured that the correct Python interpreter is called from the batch file.

[2018-12-01 15:47] jcwinkler commented on #59
I activated gh-pages for this repository. Development downloads follow.

[2018-12-01 19:20] jcwinkler opened #82 "Automatic development package builds ?"
It would be nice if packages are being automatically build from the development branch and offered somewhere. Is it possible via Travis-CI and pack them maybe into gh-pages???? (Google results are not clear to me :tired_face: )

[2018-12-01 19:41] sizmailov commented on #82
I had it in mind. Travis can do deployment to github-pages and also publish releases.
The deployment can be limited only to tagged commits. Travis setup is a bit work. I can make it.

[2018-12-06 14:54] mardukbp commented on #74
Scribus can import SVG files, so I guess I can reuse the code for Inkscape.
However, the imported SVG is represented in a different format and stored
as a PAGEOBJECT node in the XML document.

The builtin LaTeX-fragment renderer inserts a PAGEOBJECT with a LATEX
child that contains the code. So I think that is definitely doable.

The stumbling block in this project is that importing vector files i

[2018-12-06 15:46] sizmailov commented on #74
@mardukbp Indeed, you can depend on inkscape and make a working zero version of the plugin for Scribus.
Take a look at invocation of TexText from testing procedures:
https://github.com/textext/textext/blob/develop/pytests/test_compatibility.py#L195-L207
You can use this snippet with a little modification in your plugin code
Avoid passing `--text` option since it will put TexText in non-GUI mode

[2018-12-07 12:53] mardukbp commented on #74
Thank you @sizmailov! I consulted with the Scribus devs and it turns out that the Python API already implements importing vector files. I will work on integrating Textext with Scribus and report back.

[2018-12-11 04:11] apurbapaul0 opened #90 "Micro symbol is not coming with siunitx package"
I am using [siunitx](https://ctan.org/pkg/siunitx?lang=en) package to write units. But when I am writing something like 100 micro m, the micros symbol is not appearing. I am using the following code
`\SI{100}{\micro m}`
I have also used `\usepackage{siunitx}` preamble of the default package file. But the output looks as the following
![capture13](https://user-images.githubusercontent.com/2610904/4

[2018-12-11 04:40] jcwinkler commented on #90
I assume you **added** the line `\usepackage{siunitx}` to the preamble.

What happens if you compile a file `test.tex` outside of Inkscape in your LaTeX environment containing the following code:

[code]

[2018-12-11 05:52] apurbapaul0 commented on #90
Yes, I have added `\usepackage{siunitx}` at to the preamble.

The `test.tex` outside the Inkscape is giving correct output as expected. See the attached screenshot.

![capture14](https://user-images.githubusercontent.com/2610904/49780916-9a161580-fd36-11e8-82b6-14b0fbac729d.png)

This was compiled using pdflatex. I am using miktex 2.9 in windows 10.

[2018-12-11 06:22] sizmailov commented on #90
Can't reproduce on Ubuntu with latest development version of TexText nor TexText-0.8.2

[2018-12-11 11:03] jcwinkler commented on #90
I cannot reproduce this issue, too.

@apurbapaul0  Please install the latest development version of TexText from https://github.com/textext/textext/releases. Unpack the zip file and run `setup_win.bat`. Then reproduce the problem, goto to the Inkscape extension folder (usually `C:\Users\[Your Username]\AppData\Roaming\inkscape\extensions\textext`), open `textext.log` and post the lines relating to

[2018-12-11 12:39] DavidCheshire opened #91 "Inconsistent text size in expression"
When I create an expression with a fractional part and a non-fractional part, the characters in the non-fractional part are too big. See the image - the upper expression was rendered by Google Chrome, the lower expression is an SVG created by TexText in Inkscape 0.92.3. The '3' characters between the red horizontal lines are copied to show how the browser renders them the same size as the characte

[2018-12-11 12:58] apurbapaul0 commented on #90
I have tried to install the development version, I am getting the following error message:
![image](https://user-images.githubusercontent.com/2610904/49802112-03ffe080-fd72-11e8-8d54-8dbc40beb6d5.png)

I have also tested in Linux Mint 19. There it is working fine. I have used 0.8.2 version of Textext.

I don't know if this information will be helpful, in linux mint I have tried with `pdf2svg`, but

[2018-12-11 13:07] apurbapaul0 commented on #90
And if I just copy all the files and put it in extension folder, and then reun textext I am getting the following error message:

[code]

[2018-12-11 13:09] sizmailov commented on #91
TexText does not alters output of tex engine. What you get is exactly what pdflatex/lualatex/xelatex generates.

To understand how TeX renders math see texbook by D. Knuth, chapter 17.

Commands `\displaystyle`/`\textstyle`/`\scriptstyle`/ `\scriptscriptstyle` will alter default math size.

[2018-12-11 13:32] sizmailov commented on #90
@apurbapaul0 Thanks for the report!

Indeed there was an error. It appears only if there are several names of executable and first name is not found in PATH, so we didn't catch it earlier.

Can you try to install https://github.com/sizmailov/textext/tree/hotfix/issue_90 ? (Download zip and run `setup_win.bat`)

Does setup work now? If not, what is in log after manual installation and running TexTe

[2018-12-11 13:42] sizmailov commented on #90
@apurbapaul0 With regards to first error. Try to install latest versions of pstoedit+ghostscript https://textext.github.io/textext/install/windows.html#install-pstoedit-recommended

The error suggest to update imagemagick as well, but I don't see how it's involved, since we don't use it anymore. Might be used by pstoedit internally. @jcwinkler We need to investigate that.

Similar error was there

[2018-12-11 13:58] DavidCheshire commented on #91
Thanks for your comment. When I set the same expression with TeXworks  and with TeXstudio and generate a pdf output I get the same result as the image at the top of the graphic rendered by Google. Is the output of all of these others wrong, and only TexText correct?

The expression is $$ \frac{1}{E}\frac{dE}{dT}+3\alpha_s-2\alpha_b $$ - perhaps you could try it in your favourite TeX editor, and in

[2018-12-11 14:18] sizmailov commented on #91
`$$` math environment generates *display math* while `$` defines inline (text) math:

![image](https://user-images.githubusercontent.com/2975991/49806277-62c05c80-fd68-11e8-9358-2a36d6dbd28d.png)

Check your input.

[2018-12-11 14:22] jcwinkler commented on #91
I cannot reproduce this problem on my Windows installation.

![grafik](https://user-images.githubusercontent.com/11866252/49806573-5e8c4300-fd58-11e8-9891-699d5b842efc.png)

(Top is from direct compilation of the following code via Emacs, bottom from TexText)
[code]

[2018-12-11 15:44] DavidCheshire commented on #91
Yes the difference does occur with the number of $. The formulation I posted with $$ was from my web page, within TexText I was using a single $. When I replace the $ with $$ in TexText the problem goes away. Thank you for resolving that, I will have to remember to use $$ in the future.

Is there somewhere donations can be made to support the development of TexText?

[2018-12-11 15:48] apurbapaul0 commented on #90
@sizmailov After uninstalling `ghostscript` and `pstoedt` and installing the latest version solves the `textext` installation problem. But that does not solve the original problem. The output is slightly different this time. See the screenshot.

![image](https://user-images.githubusercontent.com/2610904/49811685-c14a0280-fd89-11e8-984d-8bd6a7ce9820.png)

That is the line kind of thing in between t

[2018-12-11 15:52] sizmailov commented on #90
Did you use `pdflatex` when compiling example (https://github.com/textext/textext/issues/90#issuecomment-446070081)?

[2018-12-11 17:59] apurbapaul0 commented on #90
If you are talking about the `test.tex`, then yes I have used `pdflatex` command to complie the `test.tex` file out side the inkscape. This is the exact commad that I have used
[code]
 Actually I use `siunitx` package, and the `\micro` inside the `\SI` command quite a lot in my normal writing and it works perfectly.

But this is the first time when I have used the `siunitx` package and `\micro` co

[2018-12-11 18:16] sizmailov commented on #90
Ok. If you have time and passion to more test I can prepare testing version of TexText which would keep all intermediate (temporary) files intact so we can investigate it deeper.

[2018-12-12 02:46] apurbapaul0 commented on #90
I have checked the temp files. The tex file and pdf files are correct. But the svg and png file not showing output properly.  I don't know if the following outputs will be useful to you, but here are the output of the corresponding files.

Here is the output of tex file:

[code]

The pdf output is
![image](https://user-images.githubusercontent.com/2610904/49843509-7e1d7d00-fde5-11e8-9675-198a0f176

[2018-12-12 07:48] jcwinkler commented on #91
Good to hear that the problem is solved. In the updated doc I will also use the $$ in the screenshot (currently, there is a single $, too)

Best way to contribute is to give feedback on how to improve the extension if you think something is missing, report issues, test new versions, etc.

Thanks!

[2018-12-12 07:48] #91 closed

[2018-12-12 11:55] DavidCheshire commented on #91
Thank you.

I was doing a bit of further research into this and this post https://tex.stackexchange.com/questions/503/why-is-preferable-to says that $$ is TeX primitive syntax and LaTeX doesn't officially support $$. I haven't fully understood what the post says, but using $$ is deprecated because it affects paragraph spacing.

[2018-12-12 12:16] apurbapaul0 commented on #90
@sizmailov  following is the command that I have executed:
```pstoedit.exe -f plot-svg tmp.pdf tmp.svg -dt -ssp -psarg -r9600x9600 -pta ```

It seems to produce an error message about `drvmagic.dll`.  Following is the log of the command:

[code]

[2018-12-12 13:39] jcwinkler commented on #90
Am I right: You can compile your LaTeX code from TexText/Inkscape now, but the \mu is missing? When you manually call pstoedit as suggested by @sizmailov you get this error?

Questions:
1. Are you really sure that you have not another version of pstoedit installed or flying around somewhere?
2. Is pstoedit on your path? If so does it point to the version installed by your?
3. Did you download psto

[2018-12-12 13:55] jcwinkler commented on #90
Just to be sure: Did you install pstoedit using the default method, i.e. all options unchecked?

![grafik](https://user-images.githubusercontent.com/11866252/49874073-ceb0cc80-fe1d-11e8-9eb8-60e0f8c23d74.png)

[2018-12-12 16:32] apurbapaul0 commented on #90
Yes, that is exactly the problem. The `\mu` simbol is missing and it is replaced with blank space. That's why the spacing between 100 and m is large in the svg output. But it is not exactly the `\mu` command. Because, if I compile simple expression like `$\mu$`, then the output is correct. The problem is with straight mu, which is the simbole of micro (for unit like micro meter etc...). I have als

[2018-12-12 16:33] apurbapaul0 commented on #90
I will uninstall pstoedit and reinstall it using your suggestion and let you know what happens.

[2018-12-12 16:43] apurbapaul0 commented on #90
@jcwinkler I have reinstalled pstoedit using your suggestion. Now the error that I have reported earlier about `drvmagic.dll` is not coming now. Following is the output in the shell:
```pstoedit: version 3.73 / DLL interface 108 (built: Jun  3 2018 - release build - MS VC++ 1912 - 64-bit) : Copyright (C) 1993 - 2018 Wolfgang Glunz```
But the original problem of missing micro symbol is still there.

[2018-12-12 17:43] jcwinkler commented on #90
Thank you, @apurbapaul0 . So definitely a pstoedit problem. Before I will post this to the pstoedit developers, please perform another test:
1. Uninstall pstoedit
2. Install [pdf2vg](https://github.com/textext/pdf2svg/releases)
3. Try to compile your snippet with TexText.

Result?

[2018-12-13 03:13] apurbapaul0 commented on #90
@jcwinkler thanks for the suggestion. I have uninstalled pstoedit and installed pdf2svg from your given link. Then I have used the textext and compiled the same latex code, that is, `\SI{100}{\micro m}`. The following is the output:
![image](https://user-images.githubusercontent.com/2610904/49913242-ee460480-feb2-11e8-91cc-2d5e7deaf310.png)
Here, as you can see, instead of blank space, there is on

[2018-12-13 14:08] pacuserra opened #99 "LaTeX preamble embedded for portability?"
When sharing Inkscape documents containing textext groups, the LaTeX preambles are missing, so other users editing such groups with their textext plugins do not get the same LaTeX result.

It would be nice to have the possibility of embedding the LaTeX preamble code on each textext group.

Maybe a straightforward way would be allowing the use of \begin{document} inside the textext code dialogue. A

[2018-12-13 14:44] jcwinkler commented on #99
We thought about the idea to include the used packages in the textext node but then abandoned it because it triggers a lot of other questions: Which packages to use in new nodes, how to edit the used packages, etc.

Nevertheless, I fully agree that portability from machine to machine is currently a problem if preamble files are placed in different directories.

Of course, extension made a lot of p

[2018-12-13 16:35] sizmailov commented on #99
@pacuserra Good call!

I had in mind adding extra preamble parameters such as "preamble path relative to svg", "preamble absolute path". It would be similar to what inkscape does for image links.

Speaking about embedded preamble. It's not a bad idea, but we need to address several issues to handle it properly. Node may contain full preamble text used to generate it.

@jcwinkler preamble is not li

[2018-12-13 16:59] pacuserra commented on #99
@jcwinkler Sorry, I did not mean to replace the Preamble File but combining it with my proposal. The GUI would only require an "Import" button besides the existing "Clear" one, so the usage could be as follows:

1. No "Import" pressed: the preamble is defined by the contents of the Preamble File (if specified).
2. If "Import" is pressed, the contents of the Preamble File are copied into the code b

[2018-12-20 17:56] #70 closed

[2018-12-20 17:56] #66 closed

[2018-12-20 17:56] #69 closed

[2018-12-20 17:56] #57 closed

[2018-12-20 17:56] #59 closed

[2018-12-20 17:56] #60 closed

[2018-12-20 17:56] #28 closed

[2018-12-20 17:56] #35 closed

[2018-12-20 17:56] #54 closed

[2018-12-20 18:01] #48 closed

[2018-12-20 18:01] #47 closed

[2018-12-20 21:06] #77 closed

[2018-12-20 21:06] #17 closed

[2018-12-20 21:06] #29 closed

[2018-12-20 21:07] jcwinkler commented on #30
With most recent versions of ghostscript and pstoedit the problem disappeared. Hence, I close this issue.

[2018-12-20 21:07] #30 closed

[2018-12-20 21:08] #42 closed

[2018-12-20 21:12] jcwinkler commented on #90
Sorry for the late reply. So this is definitely a problem of the converters, I guess of the underlying Cairo engine which is used by both, pstoedit and pdf2svg. Unfortunately I cannot reproduce the problem on any of my machines.

[2018-12-20 22:21] z25clp opened #101 "UnicodeDecodeError in setup.py / setup_win.bat"

[2018-12-20 22:35] z25clp commented on #101
I have a problem with the Textex extension for inkscape.

First I used Textext 0.8.2,. The extension works, however the generated latex text does not appears in the inkscape document. How to solve that problem?

Second, I download "TexText-Windows-0.9.0.zip", I extract the package and I run setup-win.bat the last two lines that appear are:
  File "extension\textext/requirements_check.py", line 613

[2018-12-21 07:20] sizmailov commented on #101
Thanks for the report!

Output of `pstoedit` on your system turned out to be non-utf8. At the moment I do not see a reliable encoding detection procedure available on basic installation of python2.7. I made a version which ignores decoding errors.

@z25clp The following branch ignores decoding errors, try it out (click download zip, unpack and run `setup_win.bat`):
https://github.com/sizmailov/tex

[2018-12-21 07:48] jcwinkler commented on #101
Often one thinks no output is produced but in reality it is put outside of the viewing area, espsecially if you hava an empty document which is zoomed outside of the center. So after generating the svg node please press the key `4` and you should see the output.

[2018-12-22 06:38] #39 closed

[2018-12-22 06:41] #43 closed

[2018-12-22 06:42] #90 closed

[2018-12-23 07:04] #82 closed

[2018-12-24 22:55] z25clp commented on #101
I drew a line, then I use the tex text option, I write in the window $x^2$, I press preview and in the bottom of the window appears just x^2 like in pdf documment, however when I press "save", and I press the key 4, then in the inkscape document appears the following:
![g851](https://user-images.githubusercontent.com/46035466/50407442-e12fec00-07b5-11e9-9643-8af024543bda.png)

[2018-12-25 05:20] sizmailov commented on #101
@z25clp Please follow the instructions from my previous comment. We need more information to investigate the issue.

[2018-12-25 22:35] z25clp commented on #101
I had tried to following the advice; however , if the following steps are incorrect, please could you be more specific about the instructions? Sorry...

I downloaded the file "TexText-Windows-0.9.0.zip", then I unpacked it and I run setup_win.bat by doble click on it. The following appears:

[code]

[2018-12-25 23:19] z25clp commented on #101
I have to try install from the begining....

I unistall Inkscape, PyGtK2... pstoedit, goshtcript, ImagicMagic... except Miktex

I have followed the istructions in: https://textext.github.io/textext/install/windows.html#

The following message appears

[code]

[2018-12-26 08:38] sizmailov commented on #101
@z25clp You faced a bug in requirement check. I made a patch and asked you to test it. You altered your system (reinstalling packages, etc.) and now version without patch is working. So we don't have a confirmation from you that patch fixes the bug.

As I understand something is wrong with your TeX compiler. It produces "pdftron" overlay. Follow instruction to confirm that:
https://textext.github.

[2018-12-26 08:38] sizmailov commented on #101
@z25clp You faced a bug in requirement check. I made a patch and asked you to test it. You altered your system (reinstalling packages, etc.) and now version without patch is working. So we don't have a confirmation from you that patch fixes the bug.

As I understand something is wrong with your TeX compiler. It produces "pdftron" overlay. Follow instruction to confirm that:
https://textext.github.

[2018-12-27 14:50] jcwinkler commented on #101
Thank you for this feedback @LcDog. The fix is already in the develop branch now and I will shortly release an updated version.

[2018-12-27 16:03] z25clp commented on #101
I can't upload the test.svg file directly, I've to compress it.
[test.zip](https://github.com/textext/textext/files/2712834/test.zip)

[2018-12-27 16:10] sizmailov commented on #101
@jcwinkler In the `.svg` provided by @z25clp generated latex content has id="content". I was afraid it's different. The `pstoedit` pipeline should be fine.

@z25clp Can you tell where "pdftron" overlay comes from?

[2018-12-27 16:19] z25clp commented on #101
I

I don't have idea about it.... sorry.....

I recall that when I've installed the ImagicMagic in the "preview" of text ext window the result of the latex cod was good, however in the inkscape document appears this pdftron overlay...  After my last reinstallation of the text ext I don't install ImagicMagic I can try to see what happen....do you think is a good idea?

[2018-12-27 21:09] jcwinkler commented on #101
This problem should be fixed now in [release 0.9.1](https://github.com/textext/textext/releases/tag/0.9.1)

[2018-12-27 23:32] z25clp commented on #101
I've donwloaded the new version "TexText-Windows-0.9.1.zip", then I unpackage it and I run setup_win.bat all was succeed. But my problem persists. :(

[2018-12-28 04:43] sizmailov commented on #101
@z25clp Your `.pdf` and `.svg` are fine. I don't see how "pdftron" may appear.

Do manual conversion of `.svg` to `png` using following command (you may need to specify full path to `inkcape` executable):
[code]

@jcwinkler Can you add `svg->png` conversion instructions to Troubleshooting section?

@z25clp Please also attach the TexText log file (since TexText 0.9.x). You find it in `~/.config/ink

[2018-12-28 14:06] z25clp commented on #101
Here is the texttex.log:
[textext.zip](https://github.com/textext/textext/files/2714975/textext.zip)

[2018-12-28 14:20] z25clp commented on #101
I've done. Now, the conversion is ok, but the resolution is low. After the command I've open the inkscape, I've import test.png and the result is:
![captura de pantalla 6](https://user-images.githubusercontent.com/46035466/50518074-82f35980-0a92-11e9-9cd7-116c80942dbf.png)

[2018-12-28 15:57] z25clp commented on #101
Seems all was a foolish thing. I was looking about pdftron overlay... this is associated with pdf2svg program, so I look for this program on my system I found a directory with this name, I delete it and now all is ok.

![captura de pantalla 7](https://user-images.githubusercontent.com/46035466/50520585-049db400-0aa0-11e9-9ce5-b8b650862832.png)

[2018-12-28 16:06] z25clp commented on #101
I just run once setup_win from the textext-0.9.1 that I dowload yesterday, this is all? or I have to reinstall all packages from the beginning?

[2018-12-28 17:16] sizmailov commented on #101
At first run TexText collects log in debug mode. Your log file does not contain such lines. You either attached wrong file or didn't run TexText after installation.

The source of the problem seems to be more or less clear:
You have a custom `pdf2svg` program which produces the "pdftron" overlay. TexText prefers `pdf2svg` to `pstoedit` if finds both.

We would catch it at the beginning with `texte

[2018-12-28 23:44] z25clp commented on #101
I'm trying to install the textext in inkscape in other laptop. I have followed the instuctions. I have the following error with pstoedit.exe

 "La aplicación no se pudo iniciar correctamente (0xc000007b). Haga clic en Aceptar para cerrarla"

Any help?

[2018-12-28 23:49] z25clp commented on #101
The setup.log after run setup_win.bat from the 0.9.1 version of textext-windows
[setup.zip](https://github.com/textext/textext/files/2715905/setup.zip)

[2018-12-29 00:31] sizmailov commented on #101
@z25clp All points to incorrect installation of requirements on target machine(s). Please carefully follow installation instructions.

**The extension will NOT work if don't install all requirements correctly**

It's really hard to help you since you do not follow precise instructions. You have been asked for one thing, but you keep doing something else without visible reason again and again. I'll

[2018-12-29 08:01] jcwinkler commented on #101
@sizmailov I updated the assets.

[2018-12-31 18:15] jcwinkler commented on #31
I investigated the situation on MacOS together with @linneman and we came to the following conclusion:

1. When Inkscape is launched it sets up the environment such that MacOS’s system Python interpreter in `/usr/bin` is used. Hence, any installs in Homebrew Python are useless.

2. Inkscape is shipped with several Python modules and the directories of these modules are added to the `PYTHON_PATH` s

[2018-12-31 21:02] z25clp commented on #101
I'm trying to follow the instructions that you kindly give me...but perhaps I don't understand exactly you mean...I apologize for that... In relation with your last comment, I have done (as I understand) the following:

1. I download the TexText-Windows-0.9.1.zip (the las one from four day ago)

2. I extract it.
3. I run setup_win.bat
4. I went to C:....\AppData\Roaming\inkscape\extensions\textext

[2018-12-31 21:06] z25clp commented on #101
In any case, On my computer the textext works....

@sizmailov and @jcwinkler  I whish you a happy new year 2019... a tank you so much.

[2019-01-05 09:47] #101 closed

[2019-01-06 15:40] sizmailov commented on #31
Thanks for investigation, but I think the conclusions cannot be extrapolated to be universal.

The interpreter used by inkscape *might* be configured to be anything, see http://wiki.inkscape.org/wiki/index.php/Extension_Interpreters#Selecting_a_specific_interpreter_version_.28via_preferences_file.29

The default python interpreter on MacOS is just "python". I think the `/usr/bin/python` is used be

[2019-01-21 23:18] Esokrates opened #107 "Feature request: Port to 1.0 and submit textex to Inkscape's stock extensions"
It would be great if you could follow
http://wiki.inkscape.org/wiki/index.php/Updating_your_Extension_for_1.0
and propose the extension to be part of the stock extensions.

Another thing I would wish for is the dummy window to disappear that shows up before the textext dialog appears. If you want a different issue to track this, no problem.

[2019-01-23 12:15] sizmailov commented on #107
TexText has extra dependencies that prohibits its inclusion in stock extensions, IMO.

I agree dummy window is annoying, but I think there is no way to avoid it without modifying inkscape source code.

[2019-01-31 09:12] corvus-albus opened #108 "More a question than a bug: How to re-edit latex formula?"
The website of the old textext version of Pauli Virtanen mentiones, that you can re-edit the latex input.
Is it still a feature of textext? It isn't mentioned in the feature list and I wasn't sucessful triing it.
I selected the object and started the extension but instead of reediting there was just a blank interface for inserting a new formula.
If editing is still possible than please give some h

[2019-01-31 09:35] sizmailov commented on #108
It's still the **main** feature of the plugin.
Please make sure
1) you didn't break TexText object group into pieces
2) you select whole TexText object before invoking the plugin

If you still have troubles fill out required information for bug report, attach troubling .svg, screenshots, etc.

[2019-01-31 10:07] corvus-albus commented on #108
Thank you for the quick reply. I was unsure because my first attempt didn't work. the following did.
As I had a closer look at the files I saw
     inkscape:current-layer="surface1"
did prevent textext from recognizing the formula. After changing to the standard layer everything worked well. I don't know where this layer came from, it isn't list in the layer list and vanishes after switching to de

[2019-01-31 10:07] #108 closed

[2019-02-02 20:41] LouisZulli opened #109 "Typo at https://textext.github.io/textext/install/linux.html"
To install xelatex on Ubuntu/Debian:
sudo apt-get install texlive-xelatex

That should be

sudo apt-get install texlive-xetex

[2019-02-02 20:51] sizmailov commented on #109
Thanks for report! Indeed.

[2019-02-04 11:00] Ablinne opened #111 "TexText tries to write log file to unwritable location"
**Description of the problem/ steps to reproduce**
If installed to `/usr/share/inkscape/extensions/textext/`, without user write permissions, TexText fails to work. It tries to write a log file to '/usr/share/inkscape/extensions/textext/textext.log' and presents a Traceback, as pasted below.

**Steps to reproduce the behavior (if not obvious from description)**:
Install the extension to `/usr/shar

[2019-02-07 15:09] RaulDurand opened #114 "crash while: Run TexText GUI"
**Description of the problem/ steps to reproduce**
I downloaded the extension from github. Installation was sucessful.
[TexText][SUCCESS ]: --> TexText has been SUCCESSFULLY installed on your system <--

The problem seems to be in the line:
  gui_config = asker.ask(save_callback, preview_callback)

**Steps to reproduce the behavior (if not obvious from description)**:
1. Start TexText
2. Two grey

[2019-02-08 09:48] sizmailov commented on #114
Thanks for the report!

Inkscape freeze is intended. It prevents you from changing document simultaneously with an extension and manually.

The line you cited just starts TexText GUI window.

Seems like PyGTK2 freezes for some reason. Are you able to run simple PytGTK2 application?

[code]

Make sure to run it with `python2`

[2019-02-08 12:47] RaulDurand commented on #114
Thanks for the reply.
I tested PyGTK2 with the code provided. It shows the Hello world! window nicely.
Also python version is 2.7.13.

I use i3 window manager.

I just tested with gnome wm and TexText works although there were some warnings:

[code]

The first two warnings were removed by installing: `gnome-themes-standard` and `libcanberra-gtk-module`

Coming back to i3, still no luck.
Thus, it s

[2019-02-08 13:12] sizmailov commented on #114
TexText works under KDE without problems as well.

Might be. But simple PyGTK app *is* working under i3, so TexText should too.

So far the best we can do is to find the line which was executed last in `asktext.py`.
[code]

Attach the resulting `textext.log` file with all "hello"s from `asktext.py`

[2019-02-08 14:08] RaulDurand commented on #114
I did as suggested. For some reason the file and line numbers are not correctly displayed in the log so I put some messages next to the word "hello". See the files:

[textext.log](https://github.com/textext/textext/files/2845384/textext.log)
[asktext.txt](https://github.com/textext/textext/files/2845385/asktext.txt)  (rename to .py)

The problem is in the line with `gtk.main()`. May be some partic

[2019-02-08 14:33] sizmailov commented on #114
Thanks for investigation!

You may also want to try comment-out warning suppression in asktext.py:

https://github.com/textext/textext/blob/0a4b388f25df0613f3df8c66b934b6517bb0653b/extension/textext/asktext.py#L1116-L1117

Looks like PyGTK can't initialize/render some content of TexText window. Which version of PyGTK do you use?

I think we need to construct analog of TexText GUI window and see wh

[2019-02-08 14:44] RaulDurand commented on #114
These are my gtk versions:
[code]

One feature of i3wm is that it tends to tile new windows. Thus, it also might be with resizing.

I commented out that line but did not notice any extra information.

I managed to make TexText to work by forcing the use of Tk.

[2019-02-08 15:58] ngoonee opened #115 "Automatically include $$ in input text box (QOL)"
**Is your feature request related to a problem? Please describe.**
I've forgotten to do the above more times than I care to recall.

**Describe the solution you'd like**
When creating a new Tex Text, instead of starting with nothing in the input text box, start with $$. Even better if the cursor is automatically between both the $.

**Additional context**
The alternative is to automatically includ

[2019-02-08 17:45] sizmailov commented on #114
@RaulDurand Your Gtk version is recent, so all features should be available.. (sigh, it runs with Gnome, dumb me). Well, yes, Tk is viable workaround, but it's less powerful than Gtk version.

Here is one more test since it might be connected with i3 composition:

Let's run TexText without inkscape. To do so you need an empty.svg file.

[code]

TexText window should appear.

[2019-02-08 17:56] sizmailov commented on #115
Thanks for suggestion! I believe most of TexText users use it for math only as well.

I think we can introduce a global config option to set initial text of TexText window for new objects.

Three choices will be available:
- no text, the default one, current behavior
- inline math ($<cursor>$)
- display math ($$<cursor>$$)

Automatic inclusion of $ is not a good option. How would you know what `x`

[2019-02-09 09:54] ngoonee commented on #115
A fourth option (automatic inclusion of $$ no matter what) makes sense in my mind, because it would never be the default and the user would have to select it.

Never looked at touching the code before, but since it's python, seems possible. Any 'reference' pull request which accomplishes something similar (in particular UI wise for the global config option)?

[2019-02-09 11:33] sizmailov commented on #115
Here are related PRs: #79, #89. Feel free to create work-in-progress PR. I'll make review to keep it in line with plugin.

Well. You may make a forth option. Test it for a week or so and tell how convenient it is.

[2019-02-12 06:29] jcwinkler commented on #109
Thanks for reporting this, @LouisZulli , thanks for fixing, @sizmailov.

[2019-02-12 12:35] RaulDurand commented on #114
I run the test as you said.
I saw flash in the screen and no TexText window. The terminal gets stuck in this command.
Maybe an option to use Tk could be included in the installer.

Thanks for the help in trying to solve the problem. Also thanks so much for the great work on TexText.

[2019-02-19 02:31] sizmailov commented on #115
I have implemented the requested feature, see PR.

@ngoonee I didn't add "automatic inclusion of `$$`" options since this use case is virtually covered by other options. Automatic inclusion also complicates temporary use of plain text. To do that you need to 1) select "empty" option, 2) close window,  3) run TexText again, 4) switch back to automatic mode. If you have explicit `$$` all you need is

[2019-03-04 10:25] Foadsf opened #117 "Adding the package to one of the Windows package managers"
**Problem**
This package has a lot of dependencies which novice user like me has a hard time to install.

**Solution**
It would be great if it could be added to the common windows package managers like [Chocolatey ](https://chocolatey.org/) or [Scoop ](https://scoop.sh/).

[2019-03-04 12:06] sizmailov commented on #117
Thanks for the report! I agree, it would be nice to install TexText via

[code]

instead of (hypotetic) ten-liner:

[code]

As you pointed out TexText has a number of dependencies.

To make a TexText package we need all 3rd packages available. Unfortunately
some of dependencies are missing in Chocolatey.
List of dependencies on Chocholatey
 - :heavy_check_mark: inkscape  (https://chocolatey.org/pa

[2019-04-01 19:07] sizmailov commented on #114
@cheshirekow Thanks for the input!

@RaulDurand Can you confirm fix is working for you?

We wanted to have two rows of interface be of same height. Height of element is unknown before it's render, so we need to call `show()` first. At the same time height requirement does not have effect on already rendered elements, so we need to have `show()` call after setting heights equal.
That the reason for

[2019-04-02 12:35] Toxicdafi opened #118 "TexText for Windows - missing packages"
I just installed TexText for Windows, using https://textext.github.io/textext/install/windows.html and Inkscape 0.92.3 (64bit) Windows 10, 1803, pstoedit+ghostscript, PyGTK, MiKTeX 2.9 and TexText via batch and installer file (tried both)

When I tried to use TexText (everything was fine before) in Inkscape, I couldn't so I checked the log in MikTeX\pdflatex and :

- GUI Framework cannot be initia

[2019-04-02 13:29] jcwinkler commented on #114
I tested it on Windows with removed normalize/hide/show section and the change is - if it exists at all - only marginal.

[2019-04-02 13:39] jcwinkler commented on #118
Thank you very much for your report and your patience in fixing this on your own.

I know this problem (MiKTeX tries to install missing packages and waits for your confirmation to do so, but you are not notified...). I will add this to the documentation.

(Thought this is already catched, but obiously not...)

[2019-04-03 08:16] sizmailov commented on #118
Does this error appear in TexText dialog with stdout/stderr fields?

If so we might add custom latex output parser rules to form nice and clear error messages with link to corresponding section in FAQ/troubleshooting.

Probably we need to implement a generic procedure to handle specific errors such as reported one.

[2019-04-03 08:34] Toxicdafi commented on #118
I don't have a screenshot of this error, but when i was trying to do a compilation,  I had an error telling to check pdflatex logs, and nothing else (that's why i checked those logs) ! I think this was on the second scrolling menu.

[2019-04-03 09:06] sizmailov commented on #118
@Toxicdafi I meant "TexText Error" dialog, see
https://textext.github.io/textext/usage/troubleshooting.html#latex-and-toolchain-errors

[2019-04-03 09:11] Toxicdafi commented on #118
It was exactly this error : https://textext.github.io/textext/_images/textext-error-dialog-stderr.png

[2019-04-03 11:25] jcwinkler commented on #118
@Toxicdafi It is exactly the "install on the fly" error that produces this window, I made the screenshot you referenced with that MiKTeX feature enabled and a missing packages.

[2019-04-05 16:24] #111 closed

[2019-04-05 16:24] #114 closed

[2019-04-05 16:24] #118 closed

[2019-04-05 16:35] #115 closed

[2019-04-05 16:35] #109 closed

[2019-04-12 07:12] jcwinkler commented on #99
Here some thoughts/ suggestions w.r.t. the topic of embedding the preamble in an Inkscape document. It is just a first draft to fix some ideas and might be a starting point to define a real concept about what has to be done.

**Definition:** “Local preamble file”: Preamble file residing on the machine Inkscape is running, i.e. the current situation. “Embedded preamble information”: Content of prea

[2019-04-12 10:21] pacuserra commented on #99
I see the following dis/advantages of each preamble embedidng approach:

**Per node basis**
:heavy_check_mark: Copying one TexText node from document to document keeps preamble info.
:heavy_check_mark: Possibility to customize preamble for a particular given node.
:x: Changing preamble for all nodes requires editing each one.

**SVG root**
:heavy_check_mark: Uniform typesetting style for all nodes

[2019-04-12 12:52] ro0mquy opened #120 "inkscape binary on macOS"
**Issue**
When installing on macOS, `./setup.py` can't find the inkscape binary:
[code]

**Possible Solution**
My inkscape (installed with homebrew cask) places a binary just called `inkscape` in $PATH.
With `--inkscape-executable=/usr/local/bin/inkscape` the installation proceeds sucessfully.
The script should therefore look for `inkscape` instead of `inkscape-bin`.

**System information**
- TexT

[2019-04-12 13:06] jcwinkler commented on #99
Thank you @pacuserra, that's this discussion is intended for.

I do see the benefits of your suggestion. It provides the most flexibility.

Question is if things do become too complicated for the average user. Difficult to estimate.

[2019-04-12 13:09] jcwinkler commented on #120
Thank you for your report. I will update the setup.py so it tests for both, inkscape and inkscape-bin (the last one works on a friend's test system, inkscape not).

As a MAC user: If you have any suggestion w.r.t to the installation instructions do not hesitate to tell or to provide a pull request with improvements.

[2019-04-12 13:15] ro0mquy commented on #120
Thanks for the work :) Besides this little issue the installation was a breeze. I think the only thing that would make it even easier is a homebrew formula.

[2019-04-12 13:25] ro0mquy opened #121 "Font size selection"
I am writing my master's thesis in latex and want to use inkscape for making figures. I would like to match the font size of the document with the one of the figures.

**Is it possible to add an option for changing the font size used by textext?**

Further especially for very large and small sizes scaling the output is different from actually changing the font size.

[2019-04-12 13:35] sizmailov commented on #121
Did you read https://textext.github.io/textext/usage/faq.html#faq-font-size
?

пт, 12 апр. 2019 г., 16:25 ro0mquy <notifications@github.com>:

[2019-04-12 14:32] pacuserra commented on #99
Your are welcome @jcwinkler. No user feedback can pay for such an excellent tool! :smiley:

I agree that adding too many options may distract the average user. Maybe the first radio button selector ('external'/'embedded') could be initiated to 'external' by default, and such a selection could then dim the rest of text boxes for 'common' and 'node' preambles...

[2019-04-12 17:58] sizmailov commented on #99
I think we can manage to get best of two worlds using next scheme:

**Variables definition:**
`preamble_text` -- content of preamble
`preamble_hash` -- md5 hash of *preamble text*
`preamble_file` -- path to preamble file, just as now
`preamble_name` -- human-readable name
`textext_preambles` -- mapping of `preamble_hash` to  pair (`preamble_name`, `preamble_text`)

**Per node variables:** `preambl

[2019-04-12 18:31] sizmailov commented on #99
Follow-up for @pacuserra list of dis/advantages:

**Mode 1 (see above)**
:heavy_check_mark:  Copying one TexText node from document to document keeps preamble info.
:heavy_check_mark: Possibility to customize preamble for a particular given node.

I can't say it's a disadvantage:

Node **must** be re-edited and recompiled, otherwise it will be inconsistent: `preamble+node_text != node_object`, but

[2019-04-14 21:51] pacuserra commented on #99
@sizmailov, if I understood correctly, Mode 1 uses something like preamble **profiles**. The TeX code of each profile is stored in an external file, while the name/id mapping of all profiles is stored in SVG root, so you only need to store the profile id used by each node.

If that is the case, then I see:

:heavy_check_mark: Possibility to customize a **different** preamble profile for each node.

[2019-04-15 07:09] sizmailov commented on #99
@pacuserra Your description is correct except one point: I propose to store TeX code of preamble at SVG root **and** in external file.

If you copy a TexText node from one document to another you will be able to find TeX code of corresponding preamble in external file. (If you use this preamble on this computer before).

I have next scheme in my mind. If you edit current preamble profile you will

[2019-04-16 09:42] sizmailov opened #122 "Migrate from GTK+ 2.x to GTK+ 3"
Switch to new major version of GTK is part of #107

[2019-04-17 08:38] jcwinkler commented on #120
@ro0mquy Could you please download the most recent [MacOS installer development version](https://github.com/textext/textext/releases/tag/0.10.1-dev1) and re-run it on your system without the ``--inkscape-executable`` parameter? Inkscape should now be detected correctly.

[2019-04-17 10:21] ro0mquy commented on #120
Works like a charm, thanks!

[2019-04-17 10:21] #120 closed

[2019-04-17 10:24] ro0mquy commented on #121
I'm sorry, apparently not. Thanks

[2019-04-17 10:24] #121 closed

[2019-04-17 11:03] sizmailov commented on #99
Yes, TexText looks at svg root and config directory. Order doesn't really matter here because hash check insures the content will be same no matter where it was found.

Config dir will be populated with new preambles (note: plural).

[2019-04-17 14:37] pacuserra commented on #99
@sizmailov, I understand that when copying one TexText node from document to document, the preamble profile will be copied from the external file to the SVG root of the destination document (if not already there) for the purpose of portability, won't be?

[2019-04-17 18:46] sizmailov commented on #99
@pacuserra Actually not. When you copy a node from one document to another SVG root gets no updates since TexText will not be triggered. SVG root will be updated if you run TexText plugin on any node of the document.

This is the way to (accidentally) create a SVG document without preamble. Therefore the only way to protect users from that is including of preamble text to every node. Thus I think

[2019-04-17 21:08] pacuserra commented on #99
@sizmailov, I see your point.

Then I would propose to store a copy of the preamble profile into every TexText node to ensure it is propagated when copying the node from document to document. In order to simplify the user interface, this could be done automatically, so user only sees a single mode of operation still based on profiles.

In case the copied node is reedited in the destination documen

[2019-04-17 21:36] sizmailov commented on #99
What you described is more or less is how "preamble included in node" mode should work.

At first I thought it will heavily bloat resulting SVG with many TexText nodes, but actually preambles are usually small compared to SVG representation of TexText node. So we gain 100% portability in cost of a kilobyte or so. Now I think it is worth it and this mode should be default.

[2019-04-17 21:42] pacuserra commented on #99
@sizmailov Fully agree, but still preserving your idea of preamble manager. In this way, user can manage a large number of TexText nodes with little effort because preambles are grouped in profiles...

[2019-04-18 11:54] jcwinkler commented on #99
I am sorry, but I really see the danger that we tend to implement a tough and powerful mechanism handling all possible cases but which may only address the needs of a minor number of users in a few cases. I am not convinced that we need such a fine granular set of options.

What we should focus on is that the preamble content is available when moving the document to another machine. I am working w

[2019-04-18 22:26] pacuserra commented on #99
@jcwinkler, if I had to choose one single feature, then I would still vote fro **portability** (as in my original post). Portability when I am sharing the SVG files with other people, and portability when I just want to reuse some particular TexText nodes from my old SVG files (i.e. copy & paste between documents).

Maybe we can come back to the basics and have just **two options**: the previous o

[2019-04-24 12:40] osbama opened #125 "Mac OS: Where is tmp.svg created?"
My tex->pdf->svg toolchain works perfectly both with the recommended text and in my daily use, however, textext does not work, since

Command "/Applications/Inkscape.app/Contents/Resources/bin/inkscape -f tmp.svg --export-png tmp.png --export-area-drawing --export-dpi=200"

fails with:  "Can't open file: tmp.svg (doesn't exist)"

yes, neither can I find tmp.svg. Where does this file get created?

[2019-04-24 12:56] sizmailov commented on #125
All data is created in temp directory, usually it's `/tmp/<temp dir>`, but it's deleted once it's no longer needed even in case of error.

Did you try to manually reproduce textext toolchain https://textext.github.io/textext/usage/troubleshooting.html#trouble-manual-compile ?

Please copy-paste manual testing results from terminal as markdown code block (enclose in triple back quotes  ```)

[2019-05-04 07:04] sindzicat opened #126 "Incompatibility between Ghostsript 9.27 and pstoedit (all versions)"
Hello!

I'm on Windows 8.1x64.

I created `test.tex`:

[code]

Then compiled it. I tried `xelatex test.tex` and `pdflatex test.tex -interaction=nonstopmode -halt-on-error`. I got a pdf file. This file was fine and had the correct formula.

Then I tried:
[code]

I got the following error:
[code]

How can I fix this?

Best regards,
Andrey.

[2019-05-04 07:14] sindzicat commented on #126
Sorry, my mistake. I used gs927, but gs926 is needed.

[2019-05-06 13:28] jcwinkler commented on #126
Hmm, looks like that the old DELAYBIND error re-appeared in gs 9.27 (see issue #2)... :angry:

[2019-05-07 09:34] jcwinkler commented on #126
@sindzicat Thank you for reporting this. I released a new version of TexText the setup script of which detects the incompatible versions of pstoedit and ghostscript and informs the user.

I also contacted the developer of pstoedit for further assistance.

[2019-05-07 10:15] sindzicat commented on #126
I'm glad my comment was useful :)
Many thanks for your nice extension! Now I have a nice tool to convert from tikz to svg too! :+1:

[2019-05-13 11:11] tmoemke opened #127 "Avoid losing work upon pressing escape"
When using TexText, I frequently lose my text by pressing Esc.

Solutions: (i) disable the shortcut (ii) or add a dialog in case that text was changed.

[2019-05-13 11:17] tmoemke opened #128 "Spell checker"
Adding support for ispell, aspell or something similar would be very useful.

[2019-05-14 10:18] jcwinkler commented on #127
I think this is a good suggestion which I will implement.

[2019-05-14 10:21] jcwinkler commented on #128
It may be a little bit off topic but do you process such ammounts of text in TexText that a spell checker is really needed? What is your use-case? I am just asking for interest.

The ability to spell-check would introduce an additional dependency, especially on Windows. I am not really shure if we should open that door...

[2019-05-14 10:22] sizmailov commented on #127
I think new "Settings" entry `Close TexText shortcut` with `Escape|Ctrl+Q|None` options should be enough.

[2019-05-14 10:24] jcwinkler commented on #128
(OK, aspell is installed together with Inkscape on Windows, so this is not a blocker as initially thought)

[2019-05-14 11:48] cdmask commented on #128
Don't really think it is necessary.

[2019-05-14 17:07] tmoemke commented on #128
Thanks for your quick response! I am really happy that you consider my suggestions.

I am a scientist and a few years ago I started to use inkscape/JessyInk for all of my presentations. Until now, this is the only possibility I found to combine a powerful vector graphics program with LaTex (using textext). Therefore textext has a key role in my workflow.

I do not only write the formulas using tex

[2019-05-19 12:45] cgoise opened #129 "Textext does not install on Ubuntu 19.04"
Hi,

textext does not install on Ubuntu 19.04.

Upon running 'setup.py' the following output is given:

[code]

Reason: the setup expects python 2.7 to be the default interpreter. Ubuntu apparently moved on to 3.7.1.

If setting `alias python='python-2.7'` before setup the install works well and textext appears in inkscapes menu. But still the extension does not work, as it checks the python versi

[2019-05-19 13:09] sizmailov commented on #129
@cgoise Thanks for the report!

Currently on linux one need to run install script with the same python interpreter which is used by inkscape (not sure it's explicitly mentioned in docs):
[code]

By default inkscape uses `python` interpreter to run all python extensions including "TexText".

Change inkscape python interpreter to `python2` as described here: http://wiki.inkscape.org/wiki/index.php/E

[2019-05-21 17:02] Gibtnix opened #131 "PDF -> SVG converter necessary?"
First of all: great work, works just fine!

However, I don't really understand why we need an external PDF to SVG conversion tool?
Inkscape by itself can convert PDFs to SVG... I prefer to avoid unnecessary dependencies, thus I just wanted to quickly ask this question. Thanks for your time!

[2019-05-21 17:41] sizmailov commented on #131
@Gibtnix Good point! Indeed, looks like

[code]

does the trick. We overlooked this opportunity when we removed imagemagick dependency :disappointed:

If we eliminate `pdf->svg` the requirements will be as simple as Tex + GUI !

I'll make a patch to test `pdf->svg` conversion via inkscape.

[2019-05-21 18:21] Gibtnix commented on #131
Thanks for the fast reply! Would be great if this dependency indeed could be removed. :-) 👍

[2019-05-25 13:20] sizmailov commented on #131
It looks like there is no way to properly import pdf TeX graphics from command line into inkscape. Default importer replaces all text, so all typesetting is lost.

I've opened an inkscape issue https://gitlab.com/inkscape/inkscape/issues/263.

[2019-05-25 14:18] Gibtnix commented on #131
Thanks for updating, just did my own test and run exactly into the same issue; Poppler/Cairo works fine but Inkscape's internal conversion always replaces the fonts which messes up the. But assuming we can make Inkscape use Poppler/Cairo from command line, eliminating the external conversion is straightforward?

[2019-05-25 20:44] sizmailov commented on #131
@Gibtnix Yes, it's the only obstacle. We also to need to handle backward compatibility issues, but they should not give us any troubles.

Good news! inkscape 1.0 (not released yet) has `--pdf-poppler` option [(link)](https://gitlab.com/inkscape/inkscape/issues/263#note_174511580) We will be able to drop dependencies on next major update.

(off topic) @jcwinkler What is the status GTK3 in terms of

[2019-05-26 07:44] Gibtnix commented on #131
Perfect, looking forward for TexText's release based on Inkscape 1.0 👍

[2019-05-26 20:43] sizmailov commented on #107
I [asked](https://gitlab.com/inkscape/inkscape/issues/156#note_174623053) a number of questions about inkscape 1.0 to clarify what needs to be done to support it.

While GTK3 is required by inkscape the *python bindings* are NOT guaranteed to be installed in the interpreter. So we need to supply GTK3 installers/instructions.

The extension is required to be python2/3-complaint. Which is a bit sad.

[2019-05-26 20:44] sizmailov commented on #107
I filed an issue about dummy window https://gitlab.com/inkscape/inkscape/issues/267 . Maybe we will be able to get rid of it in near future)

[2019-05-27 17:59] sizmailov commented on #107
It turns out that the required change to suppress dummy window was rather small. Hopefully it's going to be [merged](https://gitlab.com/inkscape/inkscape/merge_requests/698) in  inkscape 1.0 release.

[2019-05-29 10:35] sizmailov commented on #107
:tada: :tada: :tada:
Inkscape 1.0 will hide "extension is working" window for extensions with custom GUI!

[2019-05-29 11:59] leberwurstsaft commented on #107
That's so sweet!

[2019-05-29 20:10] Foadsf commented on #117
Dear @sizmailov I asked [this question](https://gitlab.gnome.org/GNOME/pygobject/issues/311#note_460885) on pygtk repo and this is their response:

and

[2019-05-29 21:07] leberwurstsaft commented on #117
Uh oh.

[2019-05-29 21:34] sizmailov commented on #117
Actually the situation is quite different from the time when I wrote previous comment.

We are going to port TexText to GTK3, so we plan to drop pygtk. This work is almost done, basically we need to double check the port (https://github.com/textext/textext/tree/feature/port_to_gtk3)

In inkscape-1.0 compatible release we are going to drop all `pdf->svg` 3rd party converters as well (pdf2svg, pstoe

[2019-05-30 17:57] Foadsf opened #132 "Adding TexText to Inkscape extension manager"
The addons' installation is difficult. Following the [other feature request](https://github.com/textext/textext/issues/117) and [this post](https://tex.stackexchange.com/a/377898/102825), I asked [this question](https://twitter.com/fsfarimani/status/1134035796590321664) and [I was told](https://twitter.com/realdoctormo/status/1134107821249847298):

&nbsp;
It would be great if the TexText addon cou

[2019-05-30 20:06] sizmailov commented on #132
Extension manager is not going to be part of inkscape 1.0 release, probably 1.1.

If I understand correctly an extension is required to be a regular PYPI package to be installable via extension manager, so the integration of working extension will be trivial.

Note: Extension manager will handle only python dependencies (TexText currently doesn't have any). System wide applications, such as latex,

[2019-05-30 20:32] musm commented on #126
Any updates on this?
I'd love to use ghostscript 9.27. Is the only solution to downgrade?

[2019-05-30 20:37] doctormo commented on #132
Shipped in Inkscape and being available to Inkscape users isn't quite the same thing. We expect to release the extension manager as a stand alone app first during the 1.0 cycle. (depending on stability and testing)

External dependencies are going to be handled by using the `extras_require` check, this is a feature that's not there yet, but could be added easily enough. `extras_require={'system':[

[2019-05-31 08:55] sizmailov commented on #126
@musm As a workaround you can use alternative `pdf->svg` converter `pdf2svg`
https://textext.github.io/textext/install/linux.html#linux-install-pdf-to-svg-converter
https://textext.github.io/textext/install/windows.html#windows-install-pdf-to-svg-converter

[2019-05-31 09:01] sizmailov commented on #132
I think we will add support for extension-manager right after port to 1.0.

[2019-06-03 07:22] jcwinkler commented on #126
I contacted the developer of pstoedit and he provides a new version 3.74 now.:

https://sourceforge.net/p/pstoedit/bugs/25/

I will update the documentation soon.

[2019-06-03 07:23] jcwinkler commented on #128
Currently, a spell checker is beyond the scope of this project.  There are too many other things to do which also take a large amount of time. I am sorry.

[2019-06-03 07:27] jcwinkler commented on #117
Yes, indeed we move to GTK3. So this is not a problem. @sizmailov already implemented this. What has to be done is to provide the binaries in the Windows installer. I am working on this.

[2019-06-03 08:20] jcwinkler commented on #131
Another possibility is to use `dvisvgm` which is included in the standard TeX distros as far as I do see. It would require to compile via `latex` instead of `pdflatex` (or `xelatex -no-pdf` instead of `xetex` and `dvilualatex` instead of `lualatex`).

[2019-06-03 11:03] Foadsf opened #134 "live preview"
I know it might be too much to ask, but having live preview could be really helpful. I have listed several examples [here in this post](https://tex.stackexchange.com/a/420307/102825). For example, an interface similar to [KLatexFormula ](https://klatexformula.sourceforge.io/) would be great.

[2019-06-03 11:21] jcwinkler commented on #126
So, finally it turns out that this fix produces an ugly svg rendering and, hence, does not help:

![grafik](https://user-images.githubusercontent.com/11866252/58798229-625f9a80-8602-11e9-9338-342b93b44b1b.png)

[2019-06-03 12:24] pacuserra commented on #131
Don't know if it can be of any help, but I have been using pdf2svg in order to avoid the font substitution issue when importing PDF figures into Inkscape:

https://github.com/dawbarton/pdf2svg

It looks like it replaces text objects by symbols...

BTW, pdf2svg is based on Poppler and Cairo libraries.

[2019-06-03 13:30] jcwinkler commented on #131
Yes, pdf2svg is already provided as an alternative in the installation instructions and the backend is implemented.

Any dependency we drop helps us to avoid trouble during installation and daily usage, so the best way is to use any built-in methods, as @sizmailov suggested.

[2019-06-03 17:50] sizmailov opened #135 "Render text layer underneeth graphical"
I believe inkscape graphics is often converted to pdf and used as image source for some .tex document.

It would be nice to make TexText nodes searchable just as native TeX formulae.

It can be done by rendering two layers of TexText node: graphical (current mode) and textual. Of course textual layer needs to be transparent and behind the graphics.

Since this feature might be unwanted, it should

[2019-06-03 21:44] jcwinkler commented on #129
Please refer to the updated [Linux installation instructions](https://textext.github.io/textext/install/linux.html#linux-install-python27) to get this problem solved on your system.

[2019-06-03 21:50] jcwinkler commented on #126
As already mentioned above by @sizmailov everybody who needs to use ghostscript 9.27 on his system is encouraged to use pdf2svg as converter. Refer to the installation instructions:
- [Windows](https://textext.github.io/textext/install/windows.html#windows-install-pdf-to-svg-converter)
- [Linux](https://textext.github.io/textext/install/linux.html#linux-install-pdf-to-svg-converter)
- [MacOs](http

[2019-06-03 21:52] #74 closed

[2019-06-04 09:05] jcwinkler commented on #135
Do I understand correctly: Given a formula $x = \pm\sqrt{y}$ you want to have the possibility to search for this expression in a pdf document that contains the corresponding Inkscape generated pdf-graphic, right?

[2019-06-04 09:09] jcwinkler commented on #134
Thanks for the suggestion. I think this is a feature which is nice to have but which should not be considered as the most important now. We have to focus our limited resources on the transition to Inkscape 1.0 compatibility. Later we should evaluate how to further improve the extension.

[2019-06-04 09:51] sizmailov commented on #135
Yes, that the idea

[2019-06-20 07:29] sizmailov commented on #107
Good news everyone! We can get rid of "extension is working" window in inkscape<1.0! See #138

[2019-06-20 12:17] jcwinkler commented on #107
Thanks for figuring this out! This will be in release 0.11!

[2019-06-20 12:55] pacuserra commented on #99
It looks like this enhancement request has languished...

Maybe my initial proposal could be reconsidered, as it requires a minimal modification and it is fully retrocompatible.

I am assuming here that the LaTeX code is in general composed of a concatenation of the contents of the preamble file + '\begin{document}' + contents of the textext code box + '\end{document}'. In that case, it could be a

[2019-06-20 13:05] sizmailov commented on #99
Yes, this feature has low priority, we are working on inkscape1.0 port right now

Quick note: @pacuserra Older versions of plugin will read preamble into text field, I think it's not acceptable behavior change

[2019-06-22 10:57] #126 closed

[2019-06-22 10:57] #127 closed

[2019-06-27 08:45] sniperrat opened #140 "TexText closing itself after pressing "safe""
TexText closes itself for me when pressing "safe". This is pretty annoying when I want to add many separate texts. Is it possible to add an option where the TexText window stays open after pressing "safe"?

[2019-06-27 09:55] sizmailov commented on #140
No, it's not possible in current inkscape extension subsystem.

Effectively inkscape dumps whole document to external program to stdin stream and reads it's output stream. There is no way to communicate to inkscape.

The was a discussion of possible "extension communication protocol" on gitlab, but it's not going to be available any time soon

[2019-06-27 09:57] sizmailov commented on #140
@sniperrat Are you aware of <kbd>Alt + Q</kbd> shortcut for previously used extension?

[2019-06-27 14:35] sniperrat commented on #140
Thank you for the quick reply! Didn't know about the shortcut. That will ease my problems a little :)

[2019-06-30 11:33] sizmailov commented on #140
Here is link to extensions with IO discussion: https://gitlab.com/inkscape/extensions/issues/8

[2019-07-11 07:11] #140 closed

[2019-07-11 07:25] #31 closed

[2019-07-11 07:25] jcwinkler commented on #107
See https://github.com/textext/textext/projects/1

[2019-07-11 07:25] #107 closed

[2019-07-11 07:26] jcwinkler commented on #117
See https://github.com/textext/textext/projects/1

[2019-07-11 07:26] #117 closed

[2019-07-11 07:26] jcwinkler commented on #122
Will be done for Inkscape 1.0 release, see https://github.com/textext/textext/projects/1

[2019-07-11 07:26] #122 closed

[2019-07-11 07:27] #132 closed

[2019-07-11 07:28] jcwinkler commented on #131
Will be realized in release for Inkscape 1.0, see https://github.com/textext/textext/projects/1

[2019-07-11 07:28] #131 closed

[2019-07-11 07:28] #128 closed

[2019-07-11 07:28] #125 closed

[2019-07-24 10:54] ouening opened #141 "ModuleNotFoundError: No module named '_winreg'"
OS: Win10
Inkscape version: 1.0 alpha2
textext version: 0.11

I installed the textext according to the instructions. And then I met the errors bellow when I use this extension:

`Traceback (most recent call last):
  File "__init__.py", line 54, in <module>
    from requirements_check import defaults, set_logging_levels, TexTextRequirementsChecker
  File "C:\Users\admin\AppData\Roaming\inkscape\ext

[2019-07-24 11:27] sizmailov commented on #141
Current release is not compatible with Inkscape 1.0+. The port in progress, take a look at #133

[2019-08-12 08:57] #141 closed

[2019-09-01 04:44] sizmailov commented on #141
@ouening You can give a try to https://github.com/sizmailov/textext/tree/port_to_inkscape_1.0 from #133 with inkscape 1.0. Note: you may need to update [inkscape extensions](https://gitlab.com/inkscape/extensions) as well.

Please let us know if it doesn't work properly.

[2019-09-03 07:43] sizmailov commented on #134
I think a shortcut for preview will be a reasonable compromise.

[2019-09-10 08:53] jmcarm opened #144 "Textext window does not open (Windows 10) if user extensions path does contain unicode characters (?)"
Hello, I have installed Textext for Windows 10 64 bit following the instructions:
- Inkscape 0.92.4 64 bit
- PyGTK2 for Inkscape 0.92.4 64 bit
- pdf2svg 64 bit
- Textext with the setup script (that says that installation was successful).

I already had MikTeX installed in my system. When I open Inkscape, the name of the extension 'textext' appears. However, when I click on it, nothing happens.

I

[2019-09-11 12:04] sizmailov commented on #144
Which version of TexText do you use?

**Logfile**
Please also *attach* the TexText log file (since TexText 0.9.x). You find it in `~/.config/inkscape/extensions/textext` on Linux/ MacOS or in `C:\Users\[Your user name]\AppData\Roaming\inkscape\extensions\textext` on Windows

[2019-09-24 11:41] jmcarm commented on #144
Hi, sorry for the delay in answering. My version the TexText is 0.11. I
could not find the log file in the path you told me, but I suspected that
perhaps it was not able to write this log file because in the path, [Your
user name] contains both an accent and a space: C:\Users\José
Manuel\AppData\Roaming\inkscape\extensions\textext

So I have created a new user called "usuario2" and installed TexTe

[2019-09-24 14:00] sizmailov commented on #144
@jmcarm Please run the following command in console and paste output here. (login as troubling user).

[code]

[2019-09-24 14:40] jmcarm commented on #144
Hi, the previous command does not give any output on screen. The directory
exists, as you can see here:

[image: image.png]
Thanks.

El mar., 24 sept. 2019 a las 16:00, Sergei Izmailov (<
notifications@github.com>) escribió:

[2019-10-01 21:40] mundim opened #145 "TexText dependencies"
Hello

I'm trying to install textext in the new (beta) version of inkscape (1.0), but the dependencies check fails even having all the key packages installed, specially python27. I followed the instruction to skip the dependency check, but when using the extension, this check is run again and fail. It also can not find pdflatex but I do have it in the path. Any suggestions, please?
Thanks.

[2019-10-01 22:08] sizmailov commented on #145
Please provide information required in issues template, including OS, textext version, etc

[2019-10-02 14:24] mundim commented on #145
Sorry, I used a direct link from another page. So...

**Description of the problem/ steps to reproduce**
I tried to install textxt 0.11 in inkscape 1.0, but when installing textext0.11 by means of

python setup.py

It failed because of CRITICAL issues, like missing python 2.7, the GUI library, PyGTK2.
Python 2.7 is indeed the default python version in my system and it is included in the path. Then

[2019-10-02 18:01] sizmailov commented on #145
Currently there is no release of TexText which supports inkscape >=1.0. But you may give a try to the [dev version](https://github.com/textext/textext/commits/develop) which is compatible with inkscape 1.0

[2019-10-03 02:06] mundim commented on #145
Thanks. I'll try it.

[2019-10-09 06:18] Shiroikoi commented on #144
I got the same problem, cutting the the textext folder and the textext.inx file from `C:\Users\凝紫秋萌\AppData\Roaming\inkscape\extensions` to `C:\Program Files\Inkscape\share\extensions` works for me

[2019-10-09 11:01] jmcarm commented on #144
Great, moving the extension to the Inkscape\share\extensions folder worked
for me too! Thank you very much!

El mié., 9 oct. 2019 a las 8:18, Shiroikoi (<notifications@github.com>)
escribió:

[2019-10-26 06:12] ouening opened #148 "Gradient fills not properly rendered"
**- Problem Description **
When I use textext to draw some pictures using pgfplots package, some error happens. Detailed description is listed bellow:
1. Firstly I modified the file `default_packages.tex` to support pgfplots:
[code]
2. Problem 1: No effect using **colorbar**, the code is:
[code]
the result is:
![no-colorbar](https://user-images.githubusercontent.com/15122811/67614995-fa039680-f7f8

[2019-10-27 16:09] sizmailov commented on #148
@ouening, Thanks for report! Please report distinct bugs as separate issues next time.

I was able to reproduce both bugs in TexText 0.11.0 & inkscape 0.92.4 (didn't check with inkscape 1.0alpha + dev version of TexText)

The first problem caused by some error on svg import generated by `pdf2svg`. I'll try to find out the root cause later.

To fix second problem you need to change couple of lines

[2019-10-28 12:34] ouening commented on #148
Thank you very much!

[2019-11-01 04:04] ouening commented on #148
Could you tell me how to fix it? Thank u!

[2019-11-01 14:01] sizmailov commented on #148
@ouening Please take a look at PR draft #149. Please note it's dev version and requires inkscape 1.0+.

[2019-11-10 13:19] yoramzarai opened #150 "Textext (develop branch) not working with Inkscape 1.0 beta on MAC running Catalina"
SW versions:
Inkscape: 1.0beta1 version
MAC OS: Catalina (10.15.1)
Textext - develop branch version

Description:
1. In Inkscape, upon clicking Extensions -> Tex Text, it complains that pdflatex not in path ("`pdflatex` is NOT found in PATH"). However, pdflatex is in path ("which pdflatex" in the terminal yields "/opt/local/bin/pdflatex").
2. I then changed "path = ["/Applications/Inkscape.app/Con

[2019-11-11 13:35] jcwinkler commented on #150
Please try a modified manual compilation of the node as descibed in https://textext.github.io/textext/usage/troubleshooting.html#manual-use-of-the-toolchain

Follow the instructions until you successfully finished step 4.

Then execute the command

[code]

Ensure that inkscape 1.0 is called by the command ``inkscape``

Then open the generated svg with Inkscape.

Are you able to perform these steps

[2019-11-11 13:38] jcwinkler commented on #145
Running the dev version of TexText on an AppImage of Inkscape 1.0beta in parallel with an installed version of Inkscape 0.92.x will not succeed. I will release some instructions how to cope with this.

[2019-11-11 18:09] yoramzarai commented on #150
Yes (while using the original requirements_check.py).

[2019-11-14 05:40] opticaller opened #153 "Proper way to set PATH environment variable?"
**Description of the problem/ steps to reproduce**
Hi,

I run Inkscape 0.92 with textext-0.11.0 on Ubuntu 18.04.

I installed texlive 2019 under `/opt/texlive/2019` and included `/opt/texlive/2019/bin/x86_64-linux` to PATH variable. The problem is that textext doesn't seem to recognize my PATH but it instead uses `/usr/bin/pdflatex` or `/usr/bin/luatex` which is of TeX Live 2017/Debian version.

I

[2019-11-14 07:55] sizmailov commented on #153
`.bashrc` does not affect desktop applications. Do change to PATH in `.profile` to see effect.

TexText supports custom paths to binaries, they are stored (if any) in `~/.config/inkscape/extensions/textext/config.json` . You can set them at setup step, run `python setup.py --help` for details.

 https://github.com/textext/textext/blob/1486c7febd9d142693c2b4cc6bc5022a3b927305/setup.py#L211

[2019-11-14 08:07] sizmailov commented on #153
@jcwinkler I'm not sure how difference between environments of login shell and desktop app should be handled. We can try to mock non-login shell, but it will be not robust solution.

I think we should document such difference in troubleshooting section and provide a link to the page at run time if binaries are not found.

[2019-11-15 01:46] opticaller commented on #153
@sizmailov Thank you very much! I got it now. I moved my PATH to `~/.profile`. I had to logout though to take the effect. Maybe X11 is reading .profile once at login or something.

[2019-11-28 18:14] jcwinkler commented on #153
I reopen this issue in order to remind me to update the troubleshooting section.

[2019-11-29 12:47] jcwinkler opened #155 "Version numbering next release"
What do you think? Should the next release of TexText, which will be only compatible with Inkscape 1.0, get version number 1.0?

Personally I think this is OK. We have a rich set of features which are tested. Of course, there are always additional things which are nice to have.

1.0 would align prettily to Inkscape 1.0

If not, which number do you suggest? 0.9?

[2019-11-29 14:52] sizmailov commented on #155
TexText is separate project and I don't see reasons to break rules of semantic versioning. Documents created with older versions will be compatible with new ones and vice versa.

We already have 0.11, so next is 0.12. :)

[2019-11-30 18:57] sizmailov commented on #155
Well. May be you are right and we need to change version to 1.0 since it will be incompatible with older inkscape versions.

No one depends on TexText package as a library, so it perfectly fine to break machine rules.
For people it would be natural to have 1.0 inkscape + 1.0 TexText or 0.x inkscape and 0.x TexText.

I should have a thought before writing previous comment :)

[2019-12-02 13:19] jcwinkler commented on #148
There seems to be a problem in Inkscape which prevents solving this issue completely under Windows, see https://gitlab.com/inkscape/inbox/issues/1260

[2019-12-05 09:01] jcwinkler opened #160 "Locking of buttons during compilation"
User experience could be improved if the Save and Preview buttons are disabled during compilation of the code and re-enabled after success (Preview) or failure (Save and Preview).

Also some kind of progress dialog showing that something is happening might be helpful (maybe a bar continously bouncing between left and right).

[2019-12-05 09:05] jcwinkler opened #161 "Refactor of method names in asktext.py"
Several method names in the GUI classes are not intuitive/ meaningful. This should be refactored.

Example:
https://github.com/textext/textext/blob/1486c7febd9d142693c2b4cc6bc5022a3b927305/extension/textext/asktext.py#L707

Meant is that the shortcut is changed.

https://github.com/textext/textext/blob/1486c7febd9d142693c2b4cc6bc5022a3b927305/extension/textext/asktext.py#L736

Meant is that the OK

[2019-12-16 10:50] jcwinkler commented on #155
I really think it is reasonable to change to 1.0 according to semantic version rules (https://semver.org/):

- Incompatible with previous version of Inkscape (we do not offer an API but we use a different one in this release)
- We are really in a productive use now -> leave 0.x cycle

[2019-12-16 10:53] sizmailov commented on #155
Ok, lets do it

[2019-12-16 17:03] Akusho opened #163 "TexText setup.bat failed to find Python"
Hello,
I installed everything as described in the "Install dependencies" section. When I run the setup.bat it tells me
"Trying to find Inkscape...
Trying registry root HKLM...
Trying registry root HKCU...
Inkscape found as REG_SZ    C:\Program Files\Inkscape\inkscape.exe

Trying to detect Python interpreter in Inkscape installation directory...
Trying to detect Python interpreter in python directo

[2019-12-17 08:54] jcwinkler commented on #163
To get things a littlebit ordered I have the following questions:

1. You were able to install TexText using the Installer TexText-Windows-0.11.0.exe, right?
2. You are able to compile LaTeX code, e.g. ``Hello world!``
3. If you try to compile ``$\alpha$`` you get an error? Which one?

[2019-12-17 09:18] Akusho commented on #163
I tried installing Inkscape on a different PC and it not through the .msi
but through .exe and although the setup.bat still doesn't work, tells me
that it can't find setup.py, by installing tex text by using the .msi
package without checks it seems to work.

On Tue, Dec 17, 2019, 10:54 Jan Winkler <notifications@github.com> wrote:

[2019-12-17 14:30] jcwinkler commented on #163
Please carefully read my questions and give precise answers to them. Your comment is not an answer to any of my questions. Otherwise I cannot help.

[2019-12-17 14:33] jcwinkler commented on #163
And, I guess you mean ``setup_win.bat``?

[2019-12-18 13:20] #134 closed

[2019-12-18 13:21] #155 closed

[2019-12-18 13:23] jcwinkler commented on #145
See https://textext.github.io/textext/install/linux-beta.html

[2019-12-18 13:23] #145 closed

[2019-12-19 10:07] paolocrosetto opened #168 "textext fails at runtime on Ubuntu Disco"
I install TexText alright, but then when launching it, it complains that a module named 'elements' does not exist.

[TexText][ERROR   ]: No module named elements
[TexText][ERROR   ]: Traceback (most recent call last):
  File "__init__.py", line 110, in <module>
    import inkex.elements
ImportError: No module named elements

[TexText][INFO    ]: TexText finished with error, please run extension ag

[2019-12-19 10:29] sizmailov commented on #168
It looks like you are trying to use textext 1.0-dev with older version of inkscape. Either upgrade inkscape to 1.0+ or use TexText <1.0

@jcwinkler https://github.com/textext/textext/issues/new doesn't have bug template, link needs to be updated to https://github.com/textext/textext/issues/new?template=bug_report.md

[2019-12-19 10:32] paolocrosetto commented on #168
thanks. I followed instructions for 0.92.4 (beware, in your website the instructions are for 0.94, which as far as I know does not exist). But i ma now upgrading inkscape to 1.0beta. Thanks again.

[2019-12-19 10:35] jcwinkler commented on #168
Ah, yeah. Thanks. I will fix this.

[2019-12-23 09:11] yoramzarai commented on #150
Update:
I installed the new Inkscape 1.0beta2 (2b71d25, 2019-12-03) and the new TexText 1.0.0-dev.1 (2019-12-17). In the folder where TexText was downloaded, upon running "python3 setup.py --inkscape-executable /Applications/Inkscape.app/Contents/MacOS/inkscape", I get:
------------------------------------------------------------------
[TexText][INFO    ]: Using `inkscape-executable` = `/Applicati

[2019-12-23 10:20] yoramzarai commented on #150
Sorry about the fonts above.

[2019-12-23 10:26] sizmailov commented on #150
@yoramzarai Please use triple back quotes to paste output (```), see [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting)

[2019-12-27 10:20] jcwinkler commented on #150
@yoramzarai Thank you for the report. It is good to have a MAC user reporting here, since neither me nor @sizmailov own a MAC so we cannot properly test the extensions under that system.

Obviously the gtk files for the gui are not installed in your python environment. You need to install
- python3-gi
- python3-gi-cairo
- gir1.2-gtk-3.0

If your Inkscape beta 2 installation uses Python 2 as interp

[2019-12-28 18:13] yoramzarai commented on #150
Thank you for the response.

Here what I did so far:
1. I installed pygobject3 and gtk3 on my MAC using mac ports (```port install py-gobject3 gtk3```).
2. I use python version 3.8 by default, but for some reason ```import gi``` fails, so I switched to python version 3.7 (python3.7) where ```import gi``` succeeds.
2. I ran ```python3.7 setup.py --inkscape-executable /Applications/Inkscape.app/Cont

[2019-12-28 18:54] yoramzarai commented on #150
A bit more information:

I installed py38-gobject3 on my MAC using mac ports. Now I am able to successfully run ```import gi``` and ```gi.require_version('Gtk', '3.0')``` using python version 3.8.1. However, executing (in python 3.8.1) ```from gi.repository import Gtk, Gdk, GdkPixbuf```, I get the following output:

[code]

[2019-12-28 19:22] yoramzarai commented on #150
Also, I think that the line
```defaults.call_command([executable, "-c", "import Tkinter; import tkMessageBox; import tkFileDialog;"])``` in requirements_check.py should change to
```defaults.call_command([executable, "-c", "import tkinter; import tkinter.messagebox; import tkinter.filedialog;"])``` under python3.

[2019-12-29 00:44] sizmailov opened #173 "Tk status in TexText 1.0"
Tk is guaranteed to be a part of every python interpreter, so TexText may run even if GTK libraries are missing. At the same time the functionality and interface are very limited compared to GTK. Now (inkscape>=1.0) guarantees that GTK3 is installed, so I think it might be a good point to deprecate Tk or remove entirely.

Is there any user which still **need** Tk support in inkcape1.0+? (please le

[2019-12-29 00:56] sizmailov commented on #150
@yoramzarai You are right Tk part of TexText  is not ported to python3 so far. I filed an issue.

The python interpreter used by inksacpe is read from `preference.xml`. Try to set it to python3.7 as it did work for you, see instructions [here](https://textext.github.io/textext/usage/faq.html#set-inkscape-python-interpreter-to-python2)

Can you interrupt script with Ctrl+C and paste stacktrace here

[2019-12-29 07:09] yoramzarai commented on #150
1. ```/Applications/Inkscape.app/Contents/MacOS/inkscape --version``` yields ```Inkscape 1.0beta2 (2b71d25, 2019-12-03)``` and then exits.
2. It gets stuck in the command ```defaults.call_command([executable, "-c", "import gi;"+
                                                     "gi.require_version('Gtk', '3.0');"+
                                                     "from gi.repository import G

[2019-12-29 08:54] sizmailov commented on #150
Ok. The problem is with Gtk library import from your python, so it's not a TexText issue.

Does ext
There are multiple things which could cause the error. To debug I suggest to do the following:

1. Make sure you are using same python interpreter in shell and in inkscape: call `which python3.7` from terminal and compare to path specified in `preference.xml`
2. Make sure no environment variable in

[2019-12-29 20:45] yoramzarai commented on #150
Yes, I agree that the issue is with Gtk, however I can't understand why in python version 3.8 ```from gi.repository import Gtk``` yields a ```TypeError: 'StructMeta' object is not iterable```. I would have expected something like module not found if I am missing some module. I will look more into this.

Re you suggestion, I first removed Inkscape and installed it again fresh. The textext files (no

[2019-12-30 12:01] sizmailov commented on #150
@yoramzarai I was wrong. gtk python support comes with inkscape 1.1+. In inkscape 1.0 you have to mange it yourself.

[2019-12-30 13:59] yoramzarai commented on #150
I tried also Inkscape version ```1.1-dev (f9311a1, 2019-12-25)```, and still no TexText option under Extensions.

[2019-12-30 14:07] yoramzarai commented on #150
Ok, I realized that the config folder is now in ```~/Library/Application Support/org.inkscape.Inkscape/config/inkscape/```. Now I see the TexText option (which is still broken).

[2019-12-30 19:53] spatala commented on #150
Hello,
I wanted to add my issue here as well.
1. I am using macOS Catalina (Version 10.15.2).
2. I am using Homebrew install python3.7 on my Mac
3. `/Applications/Inkscape.app/Contents/MacOS/inkscape --version` yields `Inkscape 1.0beta1 (32d4812, 2019-09-19)`.
4. When I run `python3.7 setup.py --inkscape-executable /Applications/Inkscape.app/Contents/MacOS/inkscape`, I get the following:
[code]
5.

[2019-12-30 20:06] yoramzarai commented on #150
Hello spatala. How did you go about installing GTK3 on your MAC? Thank you.

[2019-12-30 20:29] spatala commented on #150
Using Homebrew: `brew install gtk+3`

[2019-12-31 08:21] sizmailov commented on #150
@spatala Thanks for reporting! Why do you think you have *same* issue as @yoramzarai? Just because you are both running Catalina? Can you please [fill](https://github.com/textext/textext/issues/new?assignees=&labels=&template=bug_report.md&title=) another issue and provide all required information?

[2019-12-31 08:27] yoramzarai commented on #150
Going back to my question from Nov 10: when I run ```setup.py``` from the terminal it finds ```pdflatex``` in path, however when I choose ```Tex Text``` from the ```Extensions``` menu in Inkscape, it claims ``` [Fail] `pdflatex` is NOT found in PATH```. How can I fix this (without editing ```requirements_check.py``` as I wrote above)?

[2019-12-31 08:32] sizmailov commented on #150
@yoramzarai Probably it's duplicate of https://github.com/textext/textext/issues/153

[2019-12-31 08:50] yoramzarai commented on #150
Thank you. I do have ```export PATH="/opt/local/bin:$PATH"``` set in my ```.profile``` (after I source ```.bashrc```), however even with this Tex Text doesn't use the ```/opt/local/bin``` path. So, I edited ```~/.config/inkscape/extensions/textext/config.json``` and now it finds pdflatex. I still need to resolve the gtk issue.

[2019-12-31 09:12] sizmailov commented on #150
I'm sorry, but I don't think we can help you here with broken/incomplete installation of gtk3 or PyGObject. If you find a solution please post it here to help other people with same issue.

[2019-12-31 09:15] yoramzarai commented on #150
I did open an issue in pyObject and will report once I resolve this. Thank you for the help so far.

[2020-01-01 17:50] dehesselle commented on #150
Inkscape 1.0 on macOS is supposed to ship with working Python bindings for Gtk.

To test its current state, do the following (beta2 and newer):

1. Create a file `test.py` using the [example from PyGObject documentation](https://pygobject.readthedocs.io/en/latest/getting_started.html):
[code]

2. Set the following environment variables.

[code]

3. Run `test.py` using Inkscape's Python 3:

[code]

[2020-01-01 18:03] yoramzarai commented on #150
Thank you.

Here is the output.

First verify environment variables set:
[code]
Then:
```/Applications/Inkscape.app/Contents/Resources/bin/python3 test.py``` yielded:

[code]

[2020-01-01 18:06] yoramzarai commented on #150
Verify Inkscape version:
[code]

[2020-01-01 19:45] dehesselle commented on #150
Ah, that's a shame... in this case, it'll have to wait. My test machine is old and not capable of running the latest OS, that is why I didn't get that error.

[2020-01-01 19:48] yoramzarai commented on #150
You mean I need to wait for a fix for now that will be incorporated in a new beta version of Inkscape?

[2020-01-01 23:18] dehesselle commented on #150
It depends: for Inkscape to provide working Python+Gtk out of the box, yes, you'll have to wait until I fix this. But of course you can create your own Python+Gtk installation outside of Inkscape and use that.

[2020-01-02 05:27] yoramzarai commented on #150
Ok, thanks. Appreciate if you can report once this is fixed.

[2020-01-02 14:31] spatala opened #175 "Textext (develop branch) not working with Inkscape 1.0 beta on MAC Catalina - The output from the extension could not be parsed"
**Description of the problem/ steps to reproduce**
After installing Inkscape 1.0 beta and textext, when I click on `Tex Text` in `Extensions` drop-down menu, I get a dialog box saying the following `The output from the extension could not be parsed`.

**Steps to reproduce the behavior (if not obvious from description)**:
1. I installed textext using the following command `python3 setup.py --inksca

[2020-01-02 14:32] spatala commented on #150
I opened a new issue. Thanks.

[2020-01-02 15:15] sizmailov commented on #175
Try to run extension without inkscape. First create and `empty.svg` using inkscape. Then run following commands (assuming you are using bash shell):

[code]

See if works (a textext windows should appear). Paste stdout and stderr here if it doesn't work.

[2020-01-02 15:22] spatala commented on #175
I used python3. That is,

[code]

[code]

[2020-01-02 15:26] sizmailov commented on #175
Try again with
[code]

[2020-01-02 15:39] spatala commented on #175
Not sure if this worked or not, but I got a dialog box (shown in screen-shot below)
![inkscape_ss](https://user-images.githubusercontent.com/4085588/71675627-2e8d5480-2d4c-11ea-88d4-e63a4836e2b3.png)

Then, I simply typed `$a=b$`, and pressed save to see what may happen. I got the following:

[code]

[2020-01-02 16:23] sizmailov commented on #175
Seems like it's PYTHONPATH or working dir problem. Probably inkscape bug.

Try latest inkscape (>=1.0beta2, or preferably 1.1-dev) + latest textext (https://github.com/textext/textext/archive/develop.zip) and see if problem persists.

Where is trailing `%` comes from?

[2020-01-02 20:32] spatala commented on #175
I am actually not sure where the trailing `%` is coming from.
I installed inkscape 1.1-dev + latest textext. I ran the following commands to test the install:

[code]
Aslo notice that the config folder is now in `org.inkscape.Inkscape`. Not sure if this is important or how the folder name is chosen.

The stdout is as follows:

[code]

[2020-01-02 20:51] sizmailov commented on #175
Extension directory path is discussed and fixed here: https://github.com/textext/textext/pull/174

You set PYTHONPATH wrong. It should have `org.inkscape.Inkscape` part too.

I guess you are still unable to run textext from inkscape, right? Please attach logfile located in textext folder. It should contain similar log as you already pasted, but in inkscape context.

[2020-01-02 21:09] spatala commented on #175
Oops... I fixed the PYTHONPATH command.
[code]
When I run the above commands, it opens the dialog box (shown in screenshot in one of the posts above). The `textext.log` file is empty.

However, when I just open inkscape and run `Tex Text` from `Extensions --> Text`, I get an error. Below are the contents of the textext.log file:

[code]

[2020-01-02 21:37] sizmailov commented on #175
You are using `/usr/local/opt/python/bin/python3.7` in shell while Inkscape is instructed to use `/usr/local/bin/python3`. Exit inkscape, set interpreter in preferences.xml to
`/usr/local/opt/python/bin/python3.7` and try TexText from inkscape again.

[2020-01-03 13:48] spatala commented on #175
Thanks. I set the python-interpreter to `/usr/local/opt/python/bin/python3.7` (see screeshot below)
![Screen Shot 2020-01-03 at 8 46 39 AM](https://user-images.githubusercontent.com/4085588/71726646-c438ea80-2e05-11ea-9759-557797fd1938.png)

I am still getting an error when I try Tex Text from Inkscape. See the contents of the textext.log file below:

[code]

[2020-01-03 13:54] sizmailov commented on #175
TexText should increase verbosity after first failed run. Does second run form inkscape make new info appear in log file?

[2020-01-03 14:01] spatala commented on #175
I think it is printing out the same error. See below:

[code]

[2020-01-03 18:19] sizmailov commented on #175
I don't see anything suspicious.

@spatala Can you paste output of `env` command from the shell where you are able to run TexText window?

[2020-01-03 18:41] spatala commented on #175
Do you mean where I was able to run the following commands?:

[code]
The output of `env` command is as follows:

[code]

[2020-01-03 20:03] sizmailov commented on #175
Yes, thanks!

@spatala Final test, it should fail if I'm not mistaken.
[code]

You can work it around with manually changing `os.environ` in `textext/__init__.py`: find which env variables causes troubles and get rid of them or set appropriately at very beginning of script e.g.:
[code]

Here is my guess:

In #150 PyGObject was not provided by inkscape due to a bug.
Here we have working PyGObject i

[2020-01-03 21:13] spatala commented on #175
I tried manually changing `os.environ` in `textext/__init__.py`. Inkscape simple crashes with the following message:
[code]

I am fine with closing the issue and hope Inkscape fixes it as they work on the beta versions.

[2020-01-03 21:19] sizmailov commented on #175
@spatala Can you tell what you did exactly and what happened in more detail?

[2020-01-03 21:34] spatala commented on #175
Apologies. I am not sure what happened but Inkscape was crashing earlier. Now it is not.
So, I added the following lines to `__init__.py`:

[code]

and I get the following error message now:
[code]

I will be out of my office for the weekend. I will be able to respond again on Monday. Thank you so much for your help so far.

[2020-01-17 13:05] Esokrates opened #179 "Prepare for Ubuntu 20.04"
Just a reminder: Ubuntu 20.04 is planning to remove many python2 packages, the packages `python-gtk2` `python-gtksourceview2` are not available anymore there.

As an early adopter I can test textext there, please tell me which alternative packages should be installed there.

[2020-01-17 13:24] sizmailov commented on #179
Thanks! We are aware of that.

Cannot answer because there is no information on which packages will be part of 20.04 distribution. We don't even know which version of inskcape will be there.

Of course we will update code and installation instructions for 20.04 when it become available.

[2020-02-04 08:58] CorentinChauvin opened #180 "Wrong version of TexText for Inkscape 0.92 in documentation"
Hello!

The links to the .zip and .targz archives are wrong in the documentation of the version corresponding to Inkscape 0.92 (here: https://textext.github.io/textext/install/linux.html#linux-install-textext). It is indeed pointing to the 1.0 version, and it seems to be the same for the Windows archive.

Cheers,
Corentin

[2020-02-04 09:23] jcwinkler commented on #180
Yes, I will fix this. Thanks for reporting!

[2020-02-04 09:49] CorentinChauvin commented on #180
Welcome. Thanks for providing this tool!

[2020-02-05 10:42] jcwinkler commented on #180
Fixed doc is online now.

[2020-02-05 10:42] #180 closed

[2020-02-07 20:05] luis87krausser opened #182 "Textext error with inkex.py"
Hello! I was trying to install textext1.0.0 on inskcape 1.0beta2 and when executing the extension I receive the following error message:
[TexText][ERROR   ]: No module named 'inkex'
[TexText][ERROR   ]: Traceback (most recent call last):
  File "__init__.py", line 109, in <module>
    import inkex
ModuleNotFoundError: No module named 'inkex'

[TexText][INFO    ]: TexText finished with error, pleas

[2020-02-07 21:35] sizmailov commented on #182
Thanks for report!

Unfortunately link embed in textext does not have right bug report template. Can you please update your post by adding info required [here](https://github.com/textext/textext/issues/new?assignees=&labels=&template=bug_report.md&title=)? (Don't create new issue, update this one)

It would help us to figure out issue details. At the moment it looks like inkscape bug / or improper

[2020-02-08 11:46] jcwinkler commented on #182
@luis87krausser Did you unpack your Inkscape 1.0beta2 package from an AppImage as described [here](https://textext.github.io/textext/install/linux-beta.html)? If so does the command

[code]
work? And what's its output?

[2020-02-08 14:47] luis87krausser commented on #182
Guys I already solved the problem. The steps I took were the following:
1. Clear all trace of inkscape on pc.
1. Install inkscape with dnf (dnf-and install inkscape), and thus have Inkscape 1.0beta2.
2. Then, download textext-1.0.0-dev.1, extract the content and place myself in the created textext directory.
3. Execute the python3 setup.py --inkscape-executable / usr / bin / inkscape command.
4. D

[2020-02-08 14:49] luis87krausser commented on #182
Apparently dnf installs a very basic version of inkscape. Without the extensions. From AppImage I took the extensions folder and that solved the lost packages that prevented textext from working.

[2020-02-08 21:29] #182 closed

[2020-02-09 20:35] darredondo1 opened #183 "Mac OS issues - "No module name elements""
I followed the instructions listed, and I get the following error during setup.py (I know it said to ignore errors regarding Tkinter / gtk), so i subsequently ran setup with --skip-requirements-check

'''
[TexText][INFO    ]: Using `inkscape-executable` = `/Applications/Inkscape.app/Contents/MacOS/Inkscape`
[TexText][CRITICAL]: + [Fail] TexText requirements
[TexText][UNKNOWN ]: /-and-* [Ukwn] Dete

[2020-02-09 22:47] sizmailov commented on #183
Thanks for report!

Unfortunately link embed in textext does not have right bug report template. Can you please update your post by adding info required here? (Don't create new issue, update this one)

It would help us to figure out issue details.

(probably you have 0.x inkscape installed, which is incompatible with textext 1.0)

[2020-02-09 23:50] darredondo1 commented on #183
That was the answer - I'm now using textext 0.11.0, thank you for your time.

[2020-02-09 23:50] #183 closed

[2020-02-12 13:34] jcwinkler opened #185 "Installation instructions for TexText 1.0 fail on Kubuntu 19.10"
**Description of the problem/ steps to reproduce**
1. Follow the installation instructions for TexText 1.0 for Inkscape 1.0 beta2 on Ubuntu 19.10
2. After having downloaded and extracted the AppImage it is not possible to launch inkscape from the `~/squashfs/bin`dir. It results in the error message

[code]

**Remarks**
- Under Ubuntu 18.04 this works flawlessly.
- Running the Appimage directly by

[2020-02-12 16:53] jcwinkler commented on #185
Reason for crash of inkscape when launched from `squashfs-root\bin` directory: `inkscape`-binary has been compiled against lib versions which are not compatible with the ones installed on Ubuntu 19.10. When launched directly as `~./Inkscape-2b71d25-x86_64.AppImage` the `AppRun` script is called (which can be found in bin directory of extracted AppImage). This script sets the `LIBRARY_PATH` to the

[2020-02-12 20:26] sizmailov commented on #185
IMO it's inkscape issue, and should be solved not here. Although we can warn people about existing problems and give some workaround hints.

Extracting and interfering with self-contained application archives does not sound to me as a reliable way of obtaining software. It should be done with care and requires some expertize (i believe) above average inkcape users. I would not recommend it as prim

[2020-02-12 22:24] dehesselle commented on #150
The upstream issue linked above has been fixed. You can try https://alpha.inkscape.org/prereleases/Inkscape-1.0.0beta2+074b463_200202.dmg

[2020-02-12 22:32] dehesselle commented on #175
Here we have working PyGObject installation, but inkscape mess up env variables and therefore installed GIO does not work from inkscape.

Hint: sounds like a feature that nobody has requested yet ("respect env variables to support custom Python installation").

[2020-02-13 07:05] yoramzarai commented on #150
Thank you for the update. I first tried your suggestion above (running ```test.py``` using Inkscape's Python 3) and this time it worked (I got the window with ```Hello World```).

However, upon selecting ```Extensions -> Tex Text``` in ```Inkscape``` I get:
[code]

[2020-02-13 07:40] jcwinkler commented on #185
Yeah it is too much. Lets limit "support" to TT 1.0 for Kubuntu 18.04 as long as Inkscape 1.0 final is not released.

[2020-02-13 07:46] yoramzarai commented on #150
I also tried the current develop branch of tex text. In this case, the extension is in ```Extensions->Text->Tex Text```. Here is the output upon trying it (here, for some reason, ```pdflatex``` is not detected, whereas in the above it is detected):
[code]

[2020-02-13 07:47] jcwinkler commented on #150
@yoramzarai Installation of TexText via `python setup.py` worked but opening of Inkscape produces this error, correct? If this is the case I suggest that Inkscape uses a different Python environment and not the one used invoking setup.py. ??

[2020-02-13 08:03] yoramzarai commented on #150
Well, running ```python setup.py``` using the recent develop TexText (my python version is 3.8.1) yields:
[code]
Here, ```pdflatex``` is found (as oppose to when running from Inkscape).

So I simply copied the TexText extension to ```~/Library/Application Support/org.inkscape.Inkscape/config/inkscape/extensions```.

[2020-02-13 08:17] yoramzarai commented on #150
Update - I added the file ```config.json``` with ```pdflatex``` folder location in the ```textext``` folder and now it finds ```pdflatex```. Still, it fails to detect ```GTK3```.

[2020-02-13 22:03] dehesselle commented on #150
Yes, Inkscape brings its own Python and my suggestion would be to use that.

You are not using Inkscape's Python then.

[2020-02-14 01:28] zydeon commented on #150
@yoramzarai I have the same issues.

As to the detection of pdflatex, it seems to be a macOS issue, according to [https://gitlab.com/inkscape/inbox/issues/1221](https://gitlab.com/inkscape/inbox/issues/1221):

So in addition to the config.json solution, you should also be able to fix this by running Inkscape from terminal or by doing the following, as suggested in the above gitlab issue:
[code]

R

[2020-02-14 08:11] dehesselle commented on #150
@zydeon Please show me what you're trying to do with TKInter that fails. I've had a request for TKInter before and I fixed it. My goal is to make as many things work out of the box as possible and to avoid people messing with the application bundle (support nightmare).

[2020-02-14 08:11] yoramzarai commented on #150
Thank you @zydeon for the information.

I have edited the file ```preferences.xml``` and added ```python-interpreter="/Applications/Inkscape.app/Contents/Resources/bin/python3"``` to the extensions group. Now Inkscape uses its own python.

Selecting ```Extensions->Text->Tex Text``` opens the Tex Text window. However, upon entering any text (e.g. ```$1$```) and clicking save, the Tex Text error win

[2020-02-14 08:15] dehesselle commented on #150
@yoramzarai Thank you for testing, these are the kind of things I need to know so I can fix them. I guess I'll install tex after all!

[2020-02-14 08:17] yoramzarai commented on #150
@dehesselle I'll be happy to run more tests if needed.

[2020-02-14 18:46] zydeon commented on #150
@dehesselle My issue with Tkinter is not being able to find it. After running Inkscape from terminal (so it finds pdflatex) and selecting Tex Text from the menu, I get:

[code]

And upon running Inkscape's Python and import Tkinter from it, I get:

[code]

Is there any way that I can specify which Python executable Inkscape should use? I noticed in my `preferences.xml` that  I have `python-interpr

[2020-02-18 08:51] jcwinkler commented on #150
@yoramzarai @zydeon @dehesselle I just went through this thread an I would like to emphasize the following things:

- TexText uses a custom GUI. In order to make it properly work the Python interpreter needs to find the gtk bindings.
- If you install the bindings for an interpreter, e.g. the system intepreter, according to https://textext.github.io/textext/install/linux-beta.html (on a mac,of cour

[2020-02-18 21:38] dehesselle commented on #150
TK and Gtk bindings are confirmed, see my screenshot above. You need to use [latest 1.0beta2](https://alpha.inkscape.org/prereleases/Inkscape-1.0-latest.dmg) though, as linked to above, which contains all the fixes that have happened since the initial 1.0beta2 release.

My priority is to make everything work with the interpreter supplied by Inkscape, if possible. I would strongly encourage using t

[2020-02-19 07:11] yoramzarai commented on #150
Two updates:
1. I removed the setting of ```python-interpreter``` from ```preferences.xml``` and it seems that Inkscape is still using its own python (I think this is what @dehesselle was alluding for above).
2. Regarding the error I reported above (clicking ```Extensions->Text->Tex Text``` and then entering ```$1$``` and clicking ```save```), here is the output from ```Stderr``` from the ```TexTe

[2020-02-19 09:25] jcwinkler commented on #150
Good to hear.

I fully agree

@dehesselle If you are familiar with RST / git could you provide a pull request with installation instructions for MacOS  as in https://textext.github.io/textext/install/linux-beta.html ? Would need to be a page `macos-beta.html` in `docs/source/install` directory. If not, please provide a short step by step installation instruction list here so I can include it into

[2020-02-19 19:30] zydeon commented on #150
@dehesselle

I am using Inkscape 1.0beta2, installed via Homebrew. This can be confirmed in the log I posted above, where it says:

[code]

Also, I get this:

[code]

I believe so. At least, when I print `sys.exec_prefix` upon launching Tex Text from Inkscape, it gives me

[code]

[2020-02-20 11:07] mBarreau opened #186 "TexText 1.0 (Windows): TypeError: unsupported operand type(s) for +: 'NoneType' and 'list'"
Installation is impossible on Windows 10 Education (Version 1809, built 17763.973). It was working previously and it stopped working few days ago. I tried re-installing the software and I get the same error.

**Steps to reproduce the behavior (if not obvious from description)**:
Install TexText.

**Message(s) in error dialog (if this comes up)**
Traceback (most recent call last):
  File "setup.py"

[2020-02-23 14:18] orengt opened #188 "TexText 1.0: Unknown options --without-gui, --export-file"
Just installed TexText-Windows-1.0.0-dev.2 for: inkscape-1.0beta2_2020-02-06_235953b-x64.

I'm trying to create a formula.
I entered a simple one as $V_0$ and when preview/save I get the following error:

Command D:\Software Download\Inkscape\inkscape-1.0beta2_2020-02-06_235953b-x64\inkscape\bin\inkscape.exe --without-gui --pdf-poppler --pdf-page=1 --export-type=png --export-area-drawing --export-

[2020-02-23 15:27] sizmailov commented on #188
Hi, thanks for report. inkscape recently removed `--without-gui` command line option.

The fix would be to remove `--without-gui` option from `textext/__init__.py` (two occurrences)

Alternatively you can use inkscape beta snapshot before approximately mid-January (I believe).

[2020-02-23 19:42] orengt commented on #188
Sergei,

Thanks a lot for your quick response, it helps a lot.
I removed the options and it works.
Oren

On Sun, Feb 23, 2020 at 5:27 PM Sergei Izmailov <notifications@github.com>
wrote:

[2020-02-23 20:02] jcwinkler commented on #186
Thanks, @mBarreau. I will investigate this. You fix is correct but the reason for the extension not appearing in Inkscape not.

[2020-02-23 23:11] dehesselle commented on #150
I'll keep at it until I've figured it out. But my progress is slow currently due to lack of spare time.
@jcwinkler There will be ~blood~ documentation afterwards! 😉

[2020-02-24 13:23] jcwinkler commented on #186
@mBarreau Most likely the error results from the fact that no old Inkscape 0.92.x is installed in C:\Program Files\Inkscape. Then None has been returned by win_app_path. This is fixed now.

You state you do not see the extension in Inkscape. Did you look under the `Extension\Text` **sub**-menu entry? It has been moved there from `Extension` according to new extension subsystem guideline.

[2020-02-24 14:39] mBarreau commented on #186
Oh I see, I will reinstall it and I will tell you. I didn't try in the text
menu. I come back to you soon

Le lun. 24 févr. 2020 à 14:23, Jan Winkler <notifications@github.com> a
écrit :

[2020-02-24 18:31] mBarreau commented on #186
That's indeed working !
Thanks,
Matth

Le lun. 24 févr. 2020 à 15:39, Matthieu BARREAU <namorgin@gmail.com> a
écrit :

[2020-02-25 13:26] alcrene opened #191 "Wrong link for tar-file in documentation"
In the installation instructions for Inkscape 0.92 (https://textext.github.io/textext/install/linux.html), despite https://github.com/textext/textext/issues/180, the direct link at the bottom for the `.tar.gz` file still points to the dev version, which of course is incapable with v0.92.

The `.zip` link is correct.

[2020-02-25 14:40] jcwinkler commented on #191
Thanks for reporting. I fix this.

[2020-02-25 14:45] jcwinkler commented on #191
Updated doc is online.

[2020-02-25 14:45] #191 closed

[2020-03-03 05:54] Masacroso commented on #188
You must also change in __init__.py the string --export-file by --export-filename (it appear twice also). Then, with these two changes, the extension work for the actual beta2 version of inkscape.

[2020-03-03 07:35] jcwinkler commented on #188
Confirmed in most recent beta2 version. I'll fix it.

[2020-03-03 08:28] jcwinkler commented on #188
Unfortunately, these changes in the Inkscape extension API do only float into the Windows build of Inkscape beta2. This is built on a nightly basis whereas the Linux AppImage build reflects the state of December 3rd 2019 of Inkscape beta 2, hence does not have the change --export-file -> --export-filename.

(I will update the TexText 1.0 Windows package manually)

[2020-03-27 20:34] sabian2008 opened #194 "Import inkex.svg fails"
**Description of the problem/ steps to reproduce**
Extension crashes on startup because it cannot import `inkex.svg`

**Steps to reproduce the behavior (if not obvious from description)**:
1. Install `inkscape` from Fedora repositories using `dnf`.
2. Rebase the `/usr/share/inkscae/extensions` with the extensions from Inkscape's [Gitlab](https://gitlab.com/inkscape/extensions), because the Fedora

[2020-03-27 23:56] sizmailov commented on #194
Thanks for the report!

Indeed, recent changes in `inkscape/extensions` are breaking (https://gitlab.com/inkscape/extensions/-/merge_requests/178), and we didn't update dev branch of TexText to match:

`from inkex.svg import SvgDocumentElement` must be changed to from `inkex.elements import SvgDocumentElement`

I'll create a MR to fix that.

[2020-03-28 00:10] sizmailov commented on #194
Is the error same to what you have with updated extensions?

[2020-03-28 01:46] sabian2008 commented on #194
Yes the error is the same IIRC, but will test it tomorrow to be sure.

Thanks for the quick answer and dedication. I'll try reverting `inkex` to a previous version that contains `svg` and report here, so to help other users that might find this same problem during Inkscape 1.0 transition.

[2020-03-29 05:50] OrnithOrtion opened #195 "fail to open topmodule-gtk ubuntu-mate while saving texText formula"
**I try to save a formula on an inkscape drawing with texText, but it fails.**
A window opens and this message is displayed

<details>
<summary>`Gtk-Message: 07:39:34.459: Failed to load module "topmenu-gtk-module"
`
I tried to remove ":topmenu-gtk" from /etc/X11/Xsession.d/99mate-environment as
https://ubuntu-mate.community/t/gtk-message-failed-to-load-module-topmenu-gtk-module/4964
proposed but

[2020-03-29 16:03] jcwinkler commented on #195
Please try

[code]

[2020-03-29 17:41] OrnithOrtion commented on #195
I can't install the package. Note, that I have Ubuntu Mate 18.04, may be it could help ?

[2020-03-30 09:48] OrnithOrtion commented on #195
Hello, I solved the issue by running
`env GTK_MODULES="canberra-gtk-module" /usr/bin/inkscape`
According to the following forum,
[https://askubuntu.com/questions/1079133/how-to-install-libtopmenu-gtk-modules](url)

I still wonder if this little command needs to be entered for each time I want to use TexText.

[2020-03-30 09:52] OrnithOrtion commented on #195
Indeed, when I launch Inkscape  again, without the previous command (i. e. with the desktop launcher), the same Error message displays.

[2020-03-30 09:56] OrnithOrtion commented on #195
Ok, I am not sure, but it seems to print the formula, even if an error message is printed.
Thank you.

[2020-04-01 09:00] renatobellotti commented on #194
I'm also on Fedora 31. I followed the installation instructions for Ubuntu using the Inkscape release from the Fedora repo and the correct path to the inkscape binary. Running `setup.py` tells me that the installation was successful. When I try to create Latex text, I get the following error:

[code]

I'm using the following version of the extension: `TexText 1.0.0-dev.2 (2020-02-10)`

I'm current

[2020-04-01 09:16] sizmailov commented on #194
@renatobellotti your error is different from what @sabian2008 had. Probably you have broken installation of inkscape. It's better to see full log (full log is enabled after first fail and right after installation).

[2020-04-01 10:31] angel9891 opened #197 "Inkscape ha recibido información adicional del script ejecutado"
Por favor, me podrían ayudar con el siguiente error en Inkscape 1.0beta:

Traceback (most recent call last):
  File "__init__.py", line 54, in <module>
    from requirements_check import defaults, set_logging_levels, TexTextRequirementsChecker
  File "C:\Users\rodri\AppData\Roaming\inkscape\extensions\textext\requirements_check.py", line 772, in <module>
    defaults = WindowsDefaults()
  File "C:

[2020-04-01 20:36] sabian2008 commented on #194
I checked and Fedora from repos gives the same error that @renatobellotti has. It seems like Fedora is shipping a VERY narrow extensions directory.

@renatobellotti I suggest you try installing inkscape beta from flatpak es described in the documentation of TeXText. Installing Inkscape v0.92 from Fedora 30 (http://rpmfind.net/linux/rpm2html/search.php?query=inkscape) could also be a short-term sol

[2020-04-02 06:46] renatobellotti commented on #194
Thanks for your answer. For me, it is not a priority right now, and I don't want to mess up my Inkscape installation before I've handed in my thesis. But I'm willing to do some testing in case you want to support the Inkscape version in the Fedora 31 repo.

[2020-04-02 09:12] derMart opened #198 "Failed to load module "canberra-gtk-module""
I installed the version 0.11.0 with PyGTK2 and  pdf2svg on a texlive Ubuntu 18.04 system with Inkscape 0.92.3 (official canonical package).
While saving a tex object I get:

The svg object is created correctly though.

kind regards

[2020-04-02 09:17] derMart commented on #198
after installing the libcanberra-gtk-module package the error is gone:
`sudo apt install libcanberra-gtk-module`
One might consider adding this package to the dependencies: https://textext.github.io/textext/install/linux.html

[2020-04-02 09:34] jcwinkler commented on #198
Thanks for the report. It seems to be related to #195.

It is interesting that this problem occurs in the well tested ubuntu 18.04 / Inkscape 092.3 / TexText 0.11 environment. I will test it with a fresh system on a VM.

[2020-04-02 10:07] jcwinkler commented on #194
The original error (also affecting most current Inkscape Windows beta builds) is fixed now in the develop branch.

[2020-04-02 11:16] jcwinkler opened #199 "TexText 1.0dev, Windows: setup does not detect installed GTK3 / TkInter"
**Description of the problem/ steps to reproduce**
Installation of TexText via `setup_win.bat` fails on most recent Inkscape betas. It complains that neither gtk nor tkinter are installed although both are available in the Inkscape installation.

**Steps to reproduce the behavior (if not obvious from description)**:
1. Install TexText using `setup_win.bat /d:"C:\InkscapeBeta\bin"`

[code]
**System

[2020-04-02 11:19] jcwinkler commented on #199
After some debugging I discovered that the issue disappears if setup calls the Inkscape Python from within its installation directory and not, as up to now, from the directory into which setup_win.bat resides.

I will provde a fix shortly, see https://github.com/jcwinkler/textext/tree/feature/setup_windows_for_1_0

[2020-04-02 14:01] jcwinkler commented on #197
Most likely you installed the wrong TexText version. You need to install the development version of TexText, i.e. 1.0dev for Inkscape 1.0 beta.

Please use bug report template to give precise description of environment.

Setup for this is currently broken (see #199). Update available tomorrow.

[2020-04-05 20:11] mrkwjc opened #201 "Automatically recompile all textext entries"
Hi!

I'd like to ask if it is possible currently to automatically recompile all textext entries in the given SVG? The question arises when the custom preamble changes (font type) or another scaling is necessary. It would be nice to have an atomate, especially when many drawings need to be changed.

Regards,
Marek

[2020-04-07 18:52] jcwinkler commented on #201
In may daily work as one of the developers of the extension I do also see the demand for such a feature. However, it is not that straightforward to implement it regarding the details, but it is possible, of course. Limiting factor is still the lack of time.

Maybe it is worth to identify what this feature should provide:

Possible approach would be:
- Button "recompile all nodes"
- dialog opens as

[2020-04-08 09:16] mrkwjc commented on #201
This exactly is what is needed. If compilation code fails, then latex code identifies the node in a unique manner, isn't it? I'd iterate all nodes, then display possible errors.

Anyway, I'll go even further: if there will be a tool for recompiling textext in a single SVG file, why not to create a command line tool for batch recompilation of many SVGs at once?

BTW: I can help with implementing th

[2020-04-10 00:03] pglpm opened #202 "TexText 1.0: "lxml module missing""
I installed Inkscape 1.0beta and TexText 1.0 as per the [installation page](https://textext.github.io/textext/install/windows-beta.html).

The installation seems to succeed, with a final message

[code]

Now there's a quirk, but it isn't the main problem: I launch Inkscape 1.0beta, and the TexText extension appears *under the `Extensions -> Text` submenu, rather than directly under `Extensions`. B

[2020-04-10 00:58] pglpm commented on #202
UPDATE: I have installed `lxml` in my python3.8 distribution, and added the latter to my PATH environment variable. Now TexText works. So evidently it isn't using the python distribution of inkscape1.0 – not fully at least.

[2020-04-10 08:40] pglpm opened #203 "TexText 1.0: inkex not found with Inkscape 1.0rc1 (09960d6, 2020-04-09)"
I managed to get TexText working with Inkscape 1.0beta2 (5ba348d, 2020-03-28) (but I had to install `lxml` into my machine's python distribution to get that working, as [reported here](https://github.com/textext/textext/issues/202#issue-597620645)).

I tried reinstalling TexText 1.0 with the new Inkscape 1.0rc1 (09960d6, 2020-04-09) – obviously deleting all previous installation files. The install

[2020-04-10 11:31] jcwinkler commented on #203
OK, thanks for this report. I will check this.

[2020-04-10 11:32] jcwinkler commented on #202
Usually Inkscape is shipped with its own Python environment on Windows which includes lxml. Are you sure that it is included in your installation?

[2020-04-10 11:34] jcwinkler commented on #203
As a result from your info in #202: If you use your own Python environment on Windows (i.e. not that shipped with inkscpae) your Python path needs to include to the extension subdir of your Inkscape installation so the interpreter finds the inkscape extension api files.

[2020-04-10 11:36] jcwinkler commented on #201
TexText makes heavy use of svg helper files shipped with the Inkscape extension api. Hence, writing a standalone command line tool does not make sense from my point of view.

Let me think about how to proceed...

[2020-04-10 11:39] pglpm commented on #202
Yes, absolutely sure. I have a subdirectory
`C:\ProgramData\inkscapebeta\lib\python3.8`
and I see subdirectories
`C:\ProgramData\inkscapebeta\lib\python3.8\site-packages\lxml`
`C:\ProgramData\inkscapebeta\lib\python3.8\site-packages\lxml-4.5.0-py3.8.egg-info`

Not quite sure why TexText doesn't see them, it seems to see all the rest. I'm trying to see if I have strange entries in my PATH.

Do you

[2020-04-10 11:44] pglpm commented on #203
I see. Usually I do *not* include my Python distribution in my PATH. So, as part of TexText's setup, should I add Inkscape's python to my  PATH? Or my own distribution + Inkscape's apis? I thought no PATH alteration was necessary – in that case it was a misunderstanding on my part, sorry!

[2020-04-10 11:48] sizmailov commented on #203
This and #202 sounds like inkscape bug. (You can test it by running other extensions from menu)

[2020-04-10 11:49] pglpm commented on #203
Indeed, because TexText is working fine with 1.0beta2. I'll report this to Inkscape.

Thank you very much for looking into this!

[2020-04-10 11:50] sizmailov commented on #202
@pglpm No, inkscape should handle it on it's own.

[2020-04-10 11:51] sizmailov commented on #203
(Note, `inkex.svg` was recently renamed to `inkex.elements.svg`, so it's not a bug)

[2020-04-10 11:54] pglpm commented on #202
Indeed, Jessyink seems not to see some python files that are there, either. I'll submit this bug to Inkscape. Cheers.